div.wrapper
    section.partners__search_w
        p.partners__search_title Поиск
        form.partners__search_body
            input.partners__search_input(placeholder="Введите название")
            button.partners__search_btn(type="submit") Искать
    section.partners__search_list(class="js-scroll-list")

        div.partners__search_item.partners__search_item--installed
            div.partners__search_game
                div.partners__search_game-logo(class="js-border" data-color-from="#3ea09b" data-color-to="#5d63b3" data-radius="31")
                    div.partners__search_game-logo-w
                        img(src=require('../../images/icon-game-0.png'))
                div.partners__search_game-header
                    a.partners__search_game-name(href="https://play.google.com/store/apps/details?id=com.luckykat.beatstreet") Beat Street
                    p.partners__search_game-type Action
            div.partners__search_count
                div.partners__search_count-w
                    img.partners__search_count-icon(src=require('../../images/partners-icon.png'))
                    div.partners__search_count-info
                        div.partners__search_count-number 19 000
                        div.partners__search_count-desc Количество <br>партнеров
                    button.main-btn.main-btn--invite(class="js-border" data-color-from="#88c4bc" data-color-to="#88c4bc") Пригласить #[span +]
                div.partners__search_soc
                    a.partners__search_soc-icon(href="#")
                        img(src=require('../../images/icon-wa.png'))
                    a.partners__search_soc-icon(href="#")
                        img(src=require('../../images/icon-tg.png'))
                    a.partners__search_soc-icon(href="#")
                        img(src=require('../../images/icon-viber.png'))



        div.partners__search_item
            div.partners__search_game
                div.partners__search_game-logo(class="js-border" data-color-from="#ecd351" data-color-to="#fba226" data-radius="31")
                    div.partners__search_game-logo-w
                        img(src=require('../../images/icon-game-1.png'))
                div.partners__search_game-header
                    a.partners__search_game-name(href="https://play.google.com/store/apps/details?id=com.luckykat.beatstreet") Road Warriors
                    p.partners__search_game-type Action
            div.partners__search_count
                div.partners__search_count-w
                    img.partners__search_count-icon(src=require('../../images/partners-icon--yellow.png'))
                    div.partners__search_count-info
                        div.partners__search_count-number 17 142
                        div.partners__search_count-desc Количество <br>партнеров
                    button.main-btn.main-btn--invite(class="js-border" data-color-from="#ecd351" data-color-to="#fba226") Установить

        div.partners__search_item
            div.partners__search_game
                div.partners__search_game-logo(class="js-border" data-color-from="#ecd351" data-color-to="#fba226" data-radius="31")
                    div.partners__search_game-logo-w
                        img(src=require('../../images/icon-game-2.png'))
                div.partners__search_game-header
                    a.partners__search_game-name(href="https://play.google.com/store/apps/details?id=com.luckykat.beatstreet") Sky Chasers
                    p.partners__search_game-type Adventure
            div.partners__search_count
                div.partners__search_count-w
                    img.partners__search_count-icon(src=require('../../images/partners-icon--yellow.png'))
                    div.partners__search_count-info
                        div.partners__search_count-number 17 142
                        div.partners__search_count-desc Количество <br>партнеров
                    button.main-btn.main-btn--invite(class="js-border" data-color-from="#ecd351" data-color-to="#fba226") Установить

        div.partners__search_item(class="js-scroll-item-hidden")
            div.partners__search_game
                div.partners__search_game-logo(class="js-border" data-color-from="#ecd351" data-color-to="#fba226" data-radius="31")
                    div.partners__search_game-logo-w
                        img(src=require('../../images/icon-game-2.png'))
                div.partners__search_game-header
                    a.partners__search_game-name(href="https://play.google.com/store/apps/details?id=com.luckykat.beatstreet") Sky Chasers
                    p.partners__search_game-type Adventure
            div.partners__search_count
                div.partners__search_count-w
                    img.partners__search_count-icon(src=require('../../images/partners-icon--yellow.png'))
                    div.partners__search_count-info
                        div.partners__search_count-number 17 142
                        div.partners__search_count-desc Количество <br>партнеров
                    button.main-btn.main-btn--invite(class="js-border js-scroll-hidden" data-color-from="#ecd351" data-color-to="#fba226") Установить

        div.partners__search_item(class="js-scroll-item-hidden")
            div.partners__search_game
                div.partners__search_game-logo(class="js-border" data-color-from="#ecd351" data-color-to="#fba226" data-radius="31")
                    div.partners__search_game-logo-w
                        img(src=require('../../images/icon-game-2.png'))
                div.partners__search_game-header
                    a.partners__search_game-name(href="https://play.google.com/store/apps/details?id=com.luckykat.beatstreet") Sky Chasers
                    p.partners__search_game-type Adventure
            div.partners__search_count
                div.partners__search_count-w
                    img.partners__search_count-icon(src=require('../../images/partners-icon--yellow.png'))
                    div.partners__search_count-info
                        div.partners__search_count-number 17 142
                        div.partners__search_count-desc Количество <br>партнеров
                    button.main-btn.main-btn--invite(class="js-border js-scroll-hidden" data-color-from="#ecd351" data-color-to="#fba226") Установить

    button.btn-more.btn-more--partners(class="js-btn-more")
        img(src=require('../../images/chevrones-more.png'))