extends ../../base
block title
    | SRG LK - Partners games

block main
    include ../../header
    main.lk
        div.bg
        section.particles.particles--main(id="lk-particles-main")
        h2.title.title--center Партнерские игры
        section.section
            section#partners.partners
                section.pin.partners__search(class="js-border" data-color-from="#8dc6c3" data-color-to="#8274a5" data-radius="0")
                    include partners__search
                section.partners-right
                    section.pin.partners__friends(class="js-border" data-color-from="#ffe15f" data-color-to="#b9fc9f" data-radius="0")
                        include partners__friends
                    section.pin.partners__games(class="js-border" data-color-from="#6368bf" data-color-to="#3da09b" data-radius="0")
                        include partners__games