div.wrapper
    h2.title.title--small Друзья
    section.partners__friends_list(class="js-scroll-list")

        div.partners__friends_item
            div.partners__friends_item-w
                a.partners__friends_name(href="#") Alex
                div.partners__friends_status установил
            div.partners__friends_item-w
                a.partners__friends_game(href="#") Total WAR
                div.partners__friends_game-type MMORPG
        div.partners__friends_item
            div.partners__friends_item-w
                a.partners__friends_name(href="#") Jina
                div.partners__friends_status установил
            div.partners__friends_item-w
                a.partners__friends_game(href="#") Angry Birds
                div.partners__friends_game-type Action
        div.partners__friends_item(class="js-scroll-item-hidden")
            div.partners__friends_item-w
                a.partners__friends_name(href="#") Jina
                div.partners__friends_status установил
            div.partners__friends_item-w
                a.partners__friends_game(href="#") Angry Birds
                div.partners__friends_game-type Action
        div.partners__friends_item(class="js-scroll-item-hidden")
            div.partners__friends_item-w
                a.partners__friends_name(href="#") Jina
                div.partners__friends_status установил
            div.partners__friends_item-w
                a.partners__friends_game(href="#") Angry Birds
                div.partners__friends_game-type Action

    button.btn-more.btn-more--partners__friends(class="js-btn-more")
        img(src=require('../../images/chevrones-more.png'))