div.wrapper
    h2.title.title--small ТОП ИГР
    section.partners__games_list
        mixin game(name, usersCount)
            a.partners__games_item(href="#")
                div.partners__games_item-info
                    div.partners__games_item-icon
                        svg(xmlns='http://www.w3.org/2000/svg', width='22', height='22', viewbox='0 0 306 306')
                            polygon(points='153 230.8 247.4 299.6 211.7 187.4 306 121.1 191.3 121.1 153 6.4 114.8 121.1 0 121.1 94.4 187.4 58.7 299.6 ')
                    span.partners__games_item-name= name
                div.partners__games_item-users
                    img.partners__games_item-user-icon(src=require('../../images/partners-icon.png'))
                    div.partners__games_item-user-count= usersCount

        +game('WAR-GOD', '231 220')
        +game('JUNGLE HIT', '143 320')
        +game('TOTAL WAR', '93 473')