.login {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 115px auto 50px auto;
    padding: 80px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgba(31, 31, 31, 0.88);
    z-index: 2;

    @media (max-width: 768px) {
        width: 80%;
        height: auto;
    }

    @media (max-width: 576px) {
        width: 85%;
        margin: 30px auto;
        padding: 40px 0;
    }

    &__checkbox-wrapper {
        position: relative;
        display: block;
        cursor: pointer;
        z-index: 10;
        margin-top: 25px;

        @media (max-width: 768px) {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &:hover {
            .login__checkbox:before {
                transform: translate(0, 0);
            }
        }

        span {
            color: #abacad;
            
            @media (max-width: 768px) {
                display: block;
                line-height: 1.5;
            }
        }
    }

    &__checkbox {
        width: 20px;
        height: 20px;
        position: relative;
        top: 4px;
        display: inline-block;
        margin-right: 15px;
        z-index: 10;

        @media (max-width: 768px) {
            flex: 0 0 20px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $lGrey;
            transform: translate(5px, -5px);
            transition: .15s ease-out;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #83e6fb;
        }

        input {
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
        }

        img {
            position: absolute;
            top: -14px;
            left: -1px;
            display: none;

            &.active {
                display: block;
            }
        }
    }

    &__form-wrapper {
        width: 510px;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__form {
        position: relative;
        z-index: 1;

        @media (max-width: 768px) {
            width: 80%;
        }
    }

    &__title {
        font-size: 30;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 25px;
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__label {
        display: block;
        width: 245px;
        position: relative;
        box-sizing: border-box;
        padding: 12px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            width: 100%;
            flex: 0 0 100%;
        }
    }

    &__input {
        display: block;
        width: 100%;
        background: none;
        border: none;
        font-weight: 300;
        font-size: 10px;
        color: $inpColor;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $inpColor;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 10px;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: $inpColor;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 10px;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: $inpColor;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 10px;
        }
    }

    &__terms-wrapper {
        position: relative;
        width: 100%;
        height: 175px;
        z-index: 10;

        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(31, 31, 31, 1) 70%);
            z-index: 10;

            @media (max-width: 768px) {
                bottom: -5px;
            }
        }
    }

    &__terms {
        width: 100%;
        height: 175px;
        margin-top: 60px;
        line-height: 1.7;

        @media (max-width: 768px) {
            margin-top: 30px;
        }

        &-title {
            text-transform: uppercase;
            font-weight: 800;
            font-size: 15px;
            margin-bottom: 15px;
        }

        &-text {
            color: #abacad;
            margin-bottom: 15px;
        }
    }
}