&__friends {
    height: 400px;
    margin-bottom: 10px;

    @media (max-width: 1200px) {
        width: 100%;
        flex: 0 0 calc(50% - 5px);
    }

    @media (max-width: 767px) {
        width: 100%;
        height: auto;
        flex: 0 0 100%;

        .btn-more {
            margin-top: 60px;
            margin-bottom: 10px;
        }
    }

    a {
        color: #fff;
        transition: .15s ease-out;

        &:hover,
        &:active {
            color: #ffe15f;
            text-decoration: none;
        }
    }

    &.pin {
        padding: 50px 15px 30px 35px;
    }

    &_list {
        margin-top: 40px;
    }

    &_item {
        margin-bottom: 40px;

        &-w {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &:last-child {
                margin-top: 10px;
            }
        }
    }

    &_name {
        flex: 0 0 60%;
        position: relative;
        font-size: 20px;

        &:before {
            content: '';
            position: absolute;
            bottom: 6px;
            left: -14px;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background-color: #ffe15f;
        }
    }

    &_status {
        flex: 0 0 40%;
        color: #ffe15f;
        letter-spacing: 1.5px;
    }

    &_game {
        flex: 0 0 60%;
        font-size: 24px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    &_game-type {
        flex: 0 0 40%;
    }
}