.partners {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1200px) {
        width: 90%;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .pin {
        padding: 50px 35px 30px 35px;

        @media (max-width: 768px) {
            padding: 50px 20px 30px 20px;
        }
    }

    @import 'partners__search';
    @import 'partners__friends';
    @import 'partners__games';

    &-right {
        max-width: 340px;
        width: 100%;

        @media (max-width: 1200px) {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 10px;
        }

        @media (max-width: 767px) {
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }
}

