&__games {
    height: 390px;

    @media (max-width: 1200px) {
        width: 100%;
        flex: 0 0 calc(50% - 5px);
        height: 400px;
    }

    @media (max-width: 767px) {
        flex: 0 0 100%;
        height: auto;
    }

    &_list {
        margin-top: 40px;
    }
    
    &_item-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &_item {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:not(:last-of-type) {
            margin-bottom: 50px;
        }

        &:hover {
            color: #c7e8b6;
            text-decoration: none;

            .partners__games_item-icon:before {
                transform: translate(0, 0);
            }
        }

        &:nth-child(1) {
            .partners__games_item-icon:after {
                border-color: #fff568;
            }

            svg polygon {
                fill: #fff568;
            }
        }

        &:nth-child(2) {
            .partners__games_item-icon:after {
                border-color: #b7b7b7;
            }

            svg polygon {
                fill: #b7b7b7;
            }
        }

        &:nth-child(3) {
            .partners__games_item-icon:after {
                border-color: #8c6239;
            }

            svg polygon {
                fill: #8c6239;
            }
        }

        svg polygon {
            fill: #fff;
        }

        &-icon {
            position: relative;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            z-index: 10;

            &:before {
                content: '';
                position: absolute;
                top: 1px;
                left: 1px;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: $lGrey;
                transform: translate(5px, -5px);
                transition: .15s ease-out;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid #fff;
                border-radius: 50%;
                z-index: 1;
            }

            svg {
                position: relative;
                z-index: 1;
            }
        }

        &-info {
            flex: 0 0 65%;
        }

        &-users {
            flex: 0 0 35%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &-user-icon {
            width: 22px;
            height: auto;
            margin-right: 10px;
        }
    }
}
