&__search {
    max-width: calc(100% - 350px);
    width: 100%;
    height: 800px;

    .main-btn {
        padding: 15px 30px;
    }

    @media (max-width: 1200px) {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }

    @media (max-width: 768px) {
        height: auto;
    }

    &_w,
    &_body {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &_w {
        margin-bottom: 90px;

        @media (max-width: 767px) {
            margin-bottom: 50px;
        }

        @media (max-width: 576px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &_body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 30px;
        background-image: linear-gradient(-46deg, #8cd4bc 0%, #66c8bf 100%);
        border-radius: 50px;
        overflow: hidden;

        @media (max-width: 576px) {
            margin-left: 0;
            margin-top: 30px;
        }
    }

    &_title {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &_input {
        flex: 0 0 calc(100% - 150px);
        display: block;
        width: 100%;
        max-width: 100%;
        background: #3a3a3a;
        border: 1px solid #8cd4bc;
        padding: 20px 23px 17px 23px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: normal;
        color: #fff;

        @media (max-width: 576px) {
            flex: 0 0 calc(100% - 100px);
        }

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
        }
    }

    &_btn {
        flex: 0 0 150px;
        padding: 18px 0;
        border: none;
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;

        @media (max-width: 576px) {
            flex: 0 0 100px;
        }
    }

    &_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;

        @media (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        &:first-of-type {
            margin-top: 10px;
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid #91d3c5;
            margin-bottom: 50px;
        }

        &--installed {
            .partners__search_game-name {
                color: #66c8bf;

            }
        }
    }

    &_game {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        flex: 0 0 43%;

        @media (max-width: 1200px) {
            flex: 0 0 40%;
        }

        @media (max-width: 767px) {
            flex: 0 0 100%;
            justify-content: center;
        }

        &:hover {
            canvas:nth-child(2) {
                filter: blur(3px);
            }

            .partners__search_game-logo:before {
                transform: translate(0, 0);
            }

            .partners__search_game-name {
                color: #fff;
                text-decoration: none;
            }
        }

        &-logo {
            position: relative;
            width: 62px;
            height: 62px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $lGrey;
                transform: translate(5px, -5px);
                transition: .15s ease-out;
                border-radius: 50%;
            }

            &-w {
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                z-index: 10;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &-name {
            color: #ffe15f;
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 5px;
            margin-left: -2px;
            transition: .15s ease-out;
            text-decoration: none;

            @media (max-width: 768px) {
                font-size: 20px;
            }
        }

        &-count {
            &-icon {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(./images/partners-icon.png);
                    transform: translate(5px, -5px);
                    transition: .15s ease-out;
                    border-radius: 50%;
                }
            }
        }
    }

    &_count {

        &-w {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 0 0 53%;
            width: 100%;

            @media (max-width: 1200px) {
                flex: 0 0 60%;
            }

            @media (max-width: 767px) {
                flex: 0 0 100%;
                margin-top: 30px;
                justify-content: center;
            }

            @media (max-width: 460px) {
                flex-wrap: wrap;

                .main-btn {
                    margin-top: 45px;
                }
            }
        }

        &-icon {
            position: relative;
            margin-right: 20px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(./images/partners-icon-grey.png);
                z-index: -1;
                transform: translate(3px, -3px);
            }
        }

        &-info {
            margin-right: 22px;
        }

        &-number {
            font-size: 20px;
        }

        &-desc {
            font-size: 10px;
        }
    }

    &_soc {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 20px;

        @media (max-width: 460px) {
            justify-content: center;
        }

        &-icon:not(:first-of-type) {
            margin-left: 20px;
        }
    }
}