&__cash {
    height: 845px;

    @media (max-width: 1023px) {
        height: auto;

        .btn-more {
            margin-top: 0;
        }
    }

    @media (max-width: 768px) {
        .btn-more {
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }

    &_list {
        &:not(:last-of-type) {
            margin-bottom: 25px;
        }
        
        @media (max-width: 1023px) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 40px;
        }

        @media (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    &_list-period {
        margin-top: 70px;

        @media (max-width: 1023px) {
            flex: 0 0 calc(50% - 60px);
            margin-top: 0;
        }

        @media (max-width: 768px) {
            flex: 0 0 100%;
        }

        &:not(:last-child) {
            margin-bottom: 90px;

            @media (max-width: 1023px) {
                margin-bottom: 40px;
            }
        }

        &_date {
            font-size: 12px;
            margin-left: 10px;
            margin-bottom: 20px;
            color: #71cdbe;
        }
    }

    &_item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 25px;
        cursor: pointer;

        &:hover {
            color: #c7e8b6;
            .personal__cash_item-icon:before {
                transform: translate(0, 0);
            }
        }

        &-info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex: 0 0 50%;
        }

        &-result {
            flex: 0 0 50%;
            border-left: 1px solid #ffffff80;
            padding-left: 25px;
            text-align: right;
            box-sizing: border-box;
        }

        &-name {
            margin-left: 15px;
        }

        &-icon {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(./images/gain-icon--gray.png);
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 1;
                transform: translate(5px, -5px);
                transition: .15s ease-out;
            }

            img {
                position: relative;
                z-index: 2;
            }

            &.user-icon:after {
                content: '';
                position: absolute;
                top: calc(50% - 7px);
                left: calc(50% - 9px);
                width: 18px;
                height: 14px;
                background-image: url(./images/player-icon.png);
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 3;
            }
        }
    }
}