.personal {
    position: relative;
    width: calc(100% - 130px);
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1200px) {
        width: 90%;
        margin: 50px auto 0 auto;
    }

    @media (max-width: 1023px) {
        flex-wrap: wrap;
    }

    &-add {
        position: absolute;
        height: 68px;
        width: 68px;
        top: 0;
        right: 0;
        cursor: pointer;
        
        @media (max-width: 1200px) {
            display: none;
        }

        &:hover {
            &:after {
                transform: translate(0, 0);
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: $lGrey;
            transform: translate(5px, -5px);
            transition: .15s ease-out;
            z-index: 1;
        }

        img {
            width: 68px;
            height: 68px;
            position: relative;
            z-index: 2;
        }
    }

    &-left {
        width: calc(66.66666% - 5px);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        @media (max-width: 1023px) {
            width: 100%;
            flex: 2 1 100%;
            order: 2;
        }
    }

    &-right {
        width: calc(33.33333% - 5px);

        @media (max-width: 1023px) {
            width: 100%;
            flex: 1 1 100%;
            order: 1;
            margin-bottom: 10px;
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    @import "./personal__news";
    @import "./personal__players";
    @import "./personal__cash";
    @import "./personal__study";
}