&__study {
    width: calc(48% - 5px);
    flex: 0 0 calc(48% - 5px);
    height: 370px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    @media (max-width: 768px) {
        flex: 0 0 100%;
        width: 100%;
        height: auto;
    }

    &_start {
        margin-top: 20px;
        font-size: 15px;
    }
}