&__icon-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

&__icon {
    position: relative;
    height: 50px;
    cursor: pointer;

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $lGrey;
        transition: .15s ease-out;
        transform: translate(5px, -5px);
        border-radius: 50%;
        z-index: -1;
    }

    &:hover {
        &:after {
            transform: translate(0, 0);
        }
    }

    img,
    svg {
        height: 50px;
        display: block;
    }

    &:not(:last-of-type) {
        margin-right: 26px;
    }
}

&__news {
    position: relative;
    height: 465px;
    width: 100%;

    @media (max-width: 768px) {
        height: auto;
    }

    &_list {
        margin: 25px 0px 35px 0;
        line-height: 1.7;
    }

    &_item {
        width: 80%;

        @media (max-width: 768px) {
            width: 100%;
        }

        &:not(:last-of-type) {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #91d3c5;
        }

        &-title {
            color: $white;
            opacity: 0.28;
            font-weight: bold;

            &-info {
                margin-left: 10px;
                font-weight: 100;
            }
        }

        &-text {
            a {
                display: inline;
                color: #71cdbe;
            }
        }

        &-read-more {
            color: $white;
            opacity: 0.28;
            display: inline;
            margin-left: 10px;
        }
    }
}

&__more-news {
    color: $white;
    opacity: 0.28;
    display: inline;
    text-decoration: underline;
    transition: .15s ease-out;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
