&__players {
    width: calc(52% - 5px);
    flex: 0 0 calc(52% - 5px);
    height: 370px;
    margin-top: 10px;

    @media (max-width: 768px) {
        flex: 0 0 100%;
        width: 100%;
        height: auto;
    }

    &_list {
        margin-top: 50px;
    }

    &_item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 17px;
        margin-bottom: 30px;
        cursor: pointer;

        &:hover {
            color: #c7e8b6;

            .personal__players_item-icon:before {
                transform: translate(0, 0);
            }
        }

        &:nth-child(1) {
            .personal__players_item-icon:after {
                border-color: #fff568;
            }

            svg polygon {
                fill: #fff568;
            }
        }

        &:nth-child(2) {
            .personal__players_item-icon:after {
                border-color: #b7b7b7;
            }

            svg polygon {
                fill: #b7b7b7;
            }
        }

        &:nth-child(3) {
            .personal__players_item-icon:after {
                border-color: #8c6239;
            }

            svg polygon {
                fill: #8c6239;
            }
        }

        svg polygon {
            fill: #fff;
        }

        &-icon {
            position: relative;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            z-index: 10;

            &:before {
                content: '';
                position: absolute;
                top: 1px;
                left: 1px;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: $lGrey;
                transform: translate(5px, -5px);
                transition: .15s ease-out;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid #fff;
                border-radius: 50%;
                z-index: 1;
            }

            svg {
                position: relative;
                z-index: 1;
            }
        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 0 0 50%;
        }


        &-result {
            flex: 0 0 50%;
            border-left: 1px solid rgba(255, 255, 255, .5);
            padding-left: 25px;
            text-align: right;
            box-sizing: border-box;
        }
    }
}


