&__com {
    width: 430px;
    height: 100%;

    @media (max-width: 1200px) {
        width: 100%;
        flex: 0 0 calc(70% - 5px);
    }

    @media (max-width: 767px) {
        width: 100%;
        flex: 0 0 100%;
    }

    &-w {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &.pin {
        padding: 40px 15px 20px 15px;
    }

    &_banners {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 15px;

        @media (max-width: 1200px) {
            justify-content: center;
        }

        @media (max-width: 576px) {
            flex-wrap: wrap;
        }

        &-item {
            @media (max-width: 1200px) {
                margin-right: 20px;
            }

            @media (max-width: 576px) {
                margin-right: 0;
                margin-bottom: 20px;
            }

            img {
                height: 100%;
                max-height: 220px;
            }
        }
    }

    .promo__link-btn {
        margin: 0 auto;
    }
}