&__com-icons {
    width: 200px;
    height: 100%;
    margin-right: 10px;

    @media (max-width: 1200px) {
        width: 100%;
        flex: 0 0 calc(30% - 5px);
    }

    @media (max-width: 767px) {
        height: auto;
        flex: 0 0 calc(100%);
        margin-bottom: 10px;
        padding: 20px 35px !important;
    }

    &_list {
        @media (max-width: 767px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &_link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;

        @media (max-width: 767px) {
            &:not(:last-of-type) {
                margin-right: 20px;
            }
        }

        &:hover img {
            opacity: .5;
        }

        img {
            max-width: 100%;
            max-height: 30px;
            height: auto;
            transition: .15s ease-out;
            opacity: 1;
        }
    }
}