&__social {
    height: 450px;
    margin-bottom: 10px;

    @media (max-width: 767px) {
        height: auto;

        .btn-more {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }

    @media (max-width: 576px) {
        .title--small span {
            display: block;
            margin-left: 0;
            margin-top: 5px;
        }
    }

    .video-title {
        font-size: 28px;

        @media (max-width: 767px) {
            font-size: 48px;
        }

        @media (max-width: 576px) {
            font-size: 24px;
        }

        span:first-child {
            font-size: 36px;
            font-weight: bold;

            @media (max-width: 767px) {
                font-size: 72px;
            }
            @media (max-width: 576px) {
                font-size: 32px;
            }
        }
    }

    &_list {
        margin-top: 40px;
    }

    &_item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &:not(:first-child) {
            margin-top: 80px;
        }

        @media (max-width: 767px) {
            flex-wrap: wrap;
        }

        &-video {
            flex: 0 0 calc(50% - 30px);
            margin-right: 20px;

            @media (max-width: 767px) {
                flex: 0 0 100%;
                margin-bottom: 30px;
            }
        }

        &-desc {
            flex: 0 0 50%;

            @media (max-width: 767px) {
                flex: 0 0 100%;
                margin-bottom: 30px;
            }
        }

        &-text {
            font-size: 17px;
            line-height: 1.5;
            letter-spacing: 0.5px;
            margin-bottom: 30px;
        }
    }
}