&__ref {
    width: 500px;
    height: 800px;
    margin-right: 10px;

    @media (max-width: 1200px) {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    &_link {
        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-w {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 576px) {
                flex-wrap: wrap;
                justify-content: center;
                order: 2;
                margin-top: 30px;
            }
        }

        &-desc {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0.5px;
        }

        &-label {
            display: block;
            margin-top: 15px;
            width: 100%;

            @media (max-width: 576px) {
                order: 1;
            }
        }

        &-input {
            width: 100%;
            border: none;
            background: none;
            padding: 7px 0;
            border-bottom: 1px solid #91d3c5;
            color: #fff;
            font-size: 15px;
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    &_post {
        margin-top: 50px;

        &-desc {
            font-size: 17px;
            line-height: 1.5;
            letter-spacing: 0.5px;
            margin-bottom: 30px;
        }
    }

    .main-btn {
        margin: 60px auto 0 auto;
    }

    .video-title {
        font-size: 36px;

        @media (max-width: 767px) {
            font-size: 48px;
        }

        @media (max-width: 576px) {
            font-size: 24px;
        }

        span:first-child {
            font-size: 48px;

            @media (max-width: 767px) {
                font-size: 72px;
            }

            @media (max-width: 576px) {
                font-size: 32px;
            }
        }
    }
}