.promo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1200px) {
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .pin {
        padding-top: 50px;

        @media (max-width: 576px) {
            padding: 50px 20px 20px 20px;
        }
    }

    @import 'promo__com';
    @import 'promo__com-icons';
    @import 'promo__ref';
    @import 'promo__social';

    &-right {
        max-width: 640px;
        width: 100%;

        @media (max-width: 1200px) {
            max-width: 100%;
            margin-top: 10px;
        }
    }

    &-bottom {
        height: 340px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        @media (max-width: 767px) {
            height: auto;
            flex-wrap: wrap;
        }
    }

    &__link-btn {
        display: inline-block;
        font-size: 17px;
        padding: 15px 40px;
        text-transform: lowercase;
        color: #fff;
        cursor: pointer;
        transition: .15s ease-out;
        transform: translateY(0);

        @media (max-width: 576px) {
            margin-top: 20px;
            flex: 0 0 100%;
        }

        &:active {
            transform: translateY(5px);
        }
    }
}