&__bonus {
    width: 100%;
    height: 290px;

    @media (max-width: 1200px) {
        flex: 0 0 calc(50% - 5px);
        height: 500px;
    }

    @media (max-width: 576px) {
        flex: 0 0 100%;
        height: auto;
    }

    &_list {
        margin-top: 30px;
    }
}