&__balance {
    width: 830px;
    height: 800px;

    @media (max-width: 1200px) {
        width: 100%;
        margin-bottom: 10px;
    }

    @media (max-width: 767px) {
        height: auto;
    }

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 120px;

        @media (max-width: 767px) {
            flex-direction: column;
            margin-bottom: 40px;
        }

        .title {
            font-size: 40px;
        }
    }

    &_value {
        font-size: 30px;
        font-weight: bold;

        @media (max-width: 767px) {
            font-size: 18px;
        }

        &-w {
            width: 530px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 40px;
            border: 1px solid #daecb6;
            padding: 12px 30px 12px 18px;
            box-sizing: border-box;

            @media (max-width: 1200px) {
                width: 400px;
            }

            @media (max-width: 767px) {
                width: 250px;
                margin-top: 20px;
            }

            img {
                position: relative;
                top: -3px;

                @media (max-width: 767px) {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }

    &_operator {
        margin-bottom: 100px;

        @media (max-width: 767px) {
            margin-bottom: 60px;
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;

            @media (max-width: 767px) {
                justify-content: flex-start;
                flex-wrap: wrap;
            }

            img {
                @media (max-width: 767px) {
                    margin-right: 50px;
                }

                &:not(:last-of-type) {
                    margin-right: 95px;

                    @media (max-width: 767px) {
                        margin-right: 50px;
                        margin-bottom: 20px;
                    }
                }
            }

        }
    }

    &_send {
        &-w {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            margin-bottom: 20px;

            @media (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &-input {
            font-size: 25px;
            color: #fff;
            background: none;
            border-radius: 40px;
            border: 1px solid #daecb6;
            padding: 12px 30px;
            box-sizing: border-box;

            @media (max-width: 767px) {
                margin-bottom: 30px;
                width: 100%;
            }
        }

        &-btn {
            font-weight: bold;
            color: #fff;
            padding: 18px 75px;
            border-radius: 54px;
            background-image: linear-gradient(70deg, rgb(102, 200, 191) 0%, rgb(62, 167, 161) 100%);
            cursor: pointer;
            transform: translateY(0);
            transition: .15s ease-out;
            opacity: 1;

            @media (max-width: 1200px) {
                padding: 18px 40px;
            }

            &:hover {
                opacity: 0.8;
            }

            &:active {
                transform: translateY(5px);
            }
        }

        &-alert {
            font-size: 12px;
            font-weight: 100;
            color: #848483;
        }
    }
}