&__history {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;

    .title {
        padding-left: 40px;
    }

    @media (max-width: 1200px) {
        flex: 0 0 calc(50% - 5px);
    }

    @media (max-width: 576px) {
        flex: 0 0 100%;
        height: auto;
    }

    &.pin {
        padding: 40px 40px 20px 0px;
    }

    &_list {
        margin-top: 40px;

        &-w {
            margin-left: 40px;
        }

        @media (max-width: 1200px) {
            margin-left: 25px;
        }
    }

    &_item:not(:last-of-type) {
        margin-bottom: 40px;
    }

    .operation {
        position: relative;
        font-size: 25px;

        &:before {
            content: '';
            position: absolute;
            top: 9px;
            left: -22px;
            height: 12px;
            width: 12px;
            background-size: cover;
        }

        &:not(:last-of-type) {
            margin-bottom: 20px;
        }

        &-date {
            font-size: 12px;
            color: #71cdbe;
            margin-bottom: 15px;
        }

        &--pros:before {
            background-image: url(./images/plus-icon.svg);
        }

        &--cons:before {
            background-image: url(./images/minus-icon.svg);
        }
    }

    .btn-more {
        margin-top: 40px;
        left: 20px;
    }
}