.reward {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1200px) {
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    @import 'reward__balance';
    @import 'reward__history';
    @import 'reward__bonus';


    &-right {
        max-width: 300px;
        width: 100%;

        @media (max-width: 1200px) {
            max-width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        @media (max-width: 576px) {
            display: block;
        }
    }
}