&__friends{
    width: 400px;
    height: 800px;
    margin-right: 10px;

    @media (max-width: 1200px) {
        width: 100%;
        flex: 0 0 calc(50% - 5px);
    }

    @media (max-width: 767px) {
        margin-bottom: 10px;
        height: auto;

        .btn-more {
            margin-bottom: 20px;
        }
    }

    .title {
        font-size: 40px;
    }

    &_list {
        margin-top: 50px;
    }

    &_item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 25px;
        padding-bottom: 45px;

        &:not(:last-of-type) {
            border-bottom: 1px solid #91d3c5;
            margin-bottom: 45px;
        }
        
        .name {
            text-decoration: none;
            position: relative;
            transition: .15s ease-out;
            
            &:hover {
                color: #c7e8b6;
            }
            
            &:before {
                content: '';
                position: absolute;
                left: -15px;
                bottom: 8px;
                width: 8px;
                height: 8px;
                background: #89af98;
                border-radius: 50%;
            }
        }

        .value {
            font-size: 15px;
            letter-spacing: 2px;
            margin-top: 10px;
        }
    }

    .btn-more {
        margin-top: 20px;
    }
}