.settings {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 800px;

    @media (max-width: 1200px) {
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        height: auto;
    }

    &-w {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        @media (max-width: 1200px) {
            width: 100%;
            flex: 0 0 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }

        @media (max-width: 767px) {
            width: 100%;
            flex: 0 0 100%;
            display: block;
        }
    }

    .user {
        width: 435px;
        height: 100%;
        margin-right: 10px;

        @media (max-width: 1200px) {
            width: 100%;
            flex: 0 0 100%;
            margin-bottom: 10px;
        }

        &__title {
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        &__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            @media (max-width: 1200px) {
                max-width: 505px;
            }

            @media (max-width: 576px) {
                display: block;
            }

            &-w {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                @media (max-width: 576px) {
                    display: block;
                }
            }

            &-ava {
                margin-right: 30px;

                @media (max-width: 576px) {
                    margin-bottom: 20px;
                }

                img {
                    margin-bottom: 7px;
                }
            }

            &-name {
                font-size: 35px;
                font-weight: 300;
                color: #66c8bf;

                @media (max-width: 576px) {
                    font-size: 28px;
                    margin-bottom: 20px;
                }
            }
        }

        &__option {
            margin-bottom: 40px;

            @media (max-width: 1200px) {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }

            @media (max-width: 767px) {
                display: block;
            }

            &-title {
                font-size: 15px;
                letter-spacing: 1.5px;
                margin-bottom: 15px;
                font-weight: 300;
                color: #b1b1b1;
            }

            &-field {
                margin-bottom: 30px;

                @media (max-width: 1200px) {
                    width: 100%;
                    flex: 0 0 50%;
                }

                &-w {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media (max-width: 1200px) {
                        flex-direction: column;
                        align-items: flex-start;

                        .btn-edit {
                            margin-top: 10px;
                        }
                    }
                }
            }

            &-edit {
                height: 0;
                user-select: none;
                overflow: hidden;
                transition: .15s ease-out;

                &.active {
                    height: 90px;
                    user-select: auto;

                    @media (max-width: 576px) {
                        height: 135px;
                    }
                }

                @media (max-width: 1200px) {
                    width: 100%;
                    flex: 0 0 50%;
                }

                &-w {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    @media (max-width: 767px) {
                        justify-content: flex-start;
                    }

                    @media (max-width: 576px) {
                        display: block;
                    }
                }
            }

            &-input {
                padding: 11px 15px;
                height: 35px;
                box-sizing: border-box;
                background: none;
                color: #fff;
                border: none;
                font-size: 12px;

                &-w {
                    display: inline-block;
                    border-radius: 9px;
                    height: 35px;

                    @media (max-width: 767px) {
                        margin-right: 20px;
                    }

                    @media (max-width: 576px) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    @import 'settings__chat';
    @import 'settings__friends';
}