&__chat {
    width: 295px;
    height: 800px;

    @media (max-width: 1200px) {
        width: 100%;
        flex: 0 0 calc(50% - 5px);
    }

    @media (max-width: 767px) {
        height: auto;
    }

    &_list {
        margin-top: 40px;
    }

    &_item {
        position: relative;

        &:not(:last-of-type) {
            padding-bottom: 30px;
            margin-bottom: 40px;
            border-bottom: 1px solid #91d3c5;
        }

        .user {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                position: relative;
                top: -4px;
                margin-right: 10px;
            }
        }

        .msg {
            &-body {
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 17px;
                line-height: 1.5;
            }

            &-close {
                width: 10px;
                height: 10px;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;

                &:hover path {
                    fill: #71cdbe;
                }

                path {
                    fill: #ffffff;
                    transition: .15s ease-out;
                }
            }

            &-reply {
                font-size: 17px;
                letter-spacing: 2px;
                text-align: right;
                cursor: pointer;
                
                &:hover {
                    text-decoration: underline;
                }

                &:after {
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 12px;
                    margin: 0 0 -1px 10px;
                    background-image: url(./images/chevrones-right.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}