.stats {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1200px) {
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    @import 'stats__structure';
    @import 'stats__cash';
    @import 'stats__users';

    &-right {
        max-width: 330px;
        width: 100%;

        @media (max-width: 1200px) {
            max-width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 10px;
        }

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }
}