&__structure {
    width: 800px;
    height: 800px;

    @media (max-width: 1200px) {
        width: 100%;
        height: auto;

        &.pin {
            padding-right: 20px !important;
        }
    }

    &-w {
        position: relative;
        width: 730px;
        height: 670px;
        z-index: 3;

        @media (max-width: 1200px) {
            width: 100%;
        }

        @media (max-width: 767px) {
            height: 418px;
        }

        @media (max-width: 576px) {
            height: auto;
        }
    }

    &-graph {
        position: absolute;
        right: 0;
        bottom: 0;

        @media (max-width: 767px) {
            width: 340px;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }

    &_items {
        @media (max-width: 576px) {
            margin-top: 20px;
        }
    }

    &_item {
        position: absolute;
        top: 17px;
        right: 120px;
        cursor: pointer;

        @media (max-width: 767px) {
            top: 5px;
            right: 80px;
        }

        @media (max-width: 576px) {
            position: static;
            margin-bottom: 30px;
        }

        &:not(:last-of-type) {
            @media (max-width: 576px) {
                padding-bottom: 30px;
                border-bottom: 1px solid rgba(255,255,255,.5);
            }
        }

        &:nth-child(2) {
            top: 168px;
            right: 245px;

            @media (max-width: 767px) {
                top: 101px;
                right: 162px;
            }

            .stats__structure_item-active {
                color: #ffff6e;
            }
        }

        &:nth-child(3) {
            top: 305px;
            right: 378px;

            @media (max-width: 767px) {
                top: 190px;
                right: 247px;
            }

            .stats__structure_item-active {
                color: #7d7d7d;
            }
        }

        &:nth-child(4) {
            top: 452px;
            right: 500px;

            @media (max-width: 767px) {
                top: 284px;
                right: 324px;
            }

            .stats__structure_item-active {
                color: #a17b5f;
            }
        }

        &-icon {
            position: relative;
            width: 30px;
            top: 7px;
        }

        &-w {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &-count {
            font-size: 55px;
            font-weight: 800;
            margin-left: 10px;

            @media (max-width: 767px) {
                font-size: 24px;
            }
        }

        &-active {
            margin-top: 5px;
            margin-left: 42px;

            @media (max-width: 767px) {
                font-size: 14px;
                margin-top: 2px;
            }
        }

        &-value {
            margin-right: 6px;
        }

        &-link {
            display: inline-block;
            position: relative;
            color: #a1a2a2;
            text-decoration: none;
            letter-spacing: .5px;
            margin-top: 10px;
            margin-left: 64px;

            @media (max-width: 767px) {
                font-size: 14px;
                margin-top: 5px;
            }

            @media (max-width: 576px) {
                font-size: 18px;
                margin-top: 15px;
            }

            &:hover {
                text-decoration: none;
                color: #fff;
            }

            &:before {
                content: '';
                position: absolute;
                top: 4px;
                left: -25px;
                width: 16px;
                height: 16px;
                background-image: url(./images/download-icon-grey.png);
                background-size: contain;

                @media (max-width: 767px) {
                    top: 2px;
                }
            }
            
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                height: 1px;
                width: 100%;
                background: #a1a2a2;
            }
        }
    }
}