&__cash {
    height: 550px;
    margin-bottom: 10px;

    @media (max-width: 1200px) {
        width: 100%;
        flex: 0 0 calc(50% - 5px);
    }

    @media (max-width: 992px) {
        flex: 0 0 100%;
        height: auto;
    }

    &_list {
        padding-bottom: 30px;
        margin-top: 50px;
        margin-bottom: 30px;
        border-bottom: 1px solid #91d3c5;
    }

    &_item {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        font-size: 25px;

        @media (max-width: 576px) {
            font-size: 17px;
        }

        &:not(:last-of-type) {
            margin-bottom: 45px;
        }

        &-line span {
            font-size: 17px;
            font-weight: 100;
        }

        &-value {
            font-weight: bold;
            color: #88d4bc;
        }
    }

    &_total {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        font-size: 25px;

        @media (max-width: 576px) {
            font-size: 17px;
        }

        &-value {
            font-weight: bold;
            color: #88d4bc;
        }
    }

    .main-btn {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}