&__courses {
    width: 800px;
    height: 800px;

    @media (max-width: 1200px) {
        width: 100%;
        flex: 0 0 100%;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }

    @media (max-width: 768px) {
        height: auto;

        .btn-more {
            margin-bottom: 30px;
        }
    }

    &.pin {
        padding-left: 30px;
    }

    &_list {
        height: 495px;
    }

    &_video {
        &-w {
            margin-top: 60px;
            margin-left: 10px;
        }

        &-title {
            font-size: 30px;
            font-weight: 300;

            @media (max-width: 1200px) {
                text-align: center;
            }
        }

        &-desc {
            font-size: 20px;
        }
    }
}