&__training {
    height: 400px;
    margin-bottom: 10px;

    @media (max-width: 1200px) {
        width: 100%;
        flex: 0 0 calc(50% - 5px);
    }

    @media (max-width: 768px) {
        height: auto;
    }

    &-w {
        margin-top: 25px;
    }

    .title {
        text-align: center;
    }

    .main-btn {
        margin: 60px auto 0 auto;
    }
}