&__notes {
    height: 390px;

    @media (max-width: 1200px) {
        width: 100%;
        flex: 0 0 calc(50% - 5px);
        height: 400px;
    }

    @media (max-width: 768px) {
        height: auto;
    }

    &_list {
        margin-top: 30px;
        height: 190px;
        overflow: hidden;
    }

    &_item {
        &:not(:last-of-type) {
            margin-bottom: 25px;
            padding-bottom: 35px;
            border-bottom: 1px solid #91d3c5;
        }
    }

    &_title {
        font-size: 20px;
        margin-bottom: 12px;
    }

    &_text {
        font-size: 17px;
    }
}