.study {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1200px) {
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    @import 'study__courses';
    @import 'study__notes';
    @import 'study__training';

    &-right {
        max-width: 330px;
        width: 100%;

        @media (max-width: 1200px) {
            max-width: 100%;
            flex: 0 0 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 10px;
        }

        @media (max-width: 768px) {
            display: block;
        }
    }
}