div.wrapper
    h2.title Друзья
    section.settings__friends_list(class="js-scroll-list")
        mixin friend(name, value)
            div.settings__friends_item
                div.info
                    a.name(href="#")= name
                    p.value= value
                svg.msg-icon(xmlns='http://www.w3.org/2000/svg', width='33', height='22', viewbox='0 0 33 22')
                    path(d='M1053.1,36a1.132,1.132,0,0,0-1.1,1.138V56.862A1.132,1.132,0,0,0,1053.1,58h30.8a1.132,1.132,0,0,0,1.1-1.138V37.138A1.132,1.132,0,0,0,1083.9,36h-30.8Zm1.52,1.517h27.76L1068.5,50.165Zm-1.15.96,8.87,8.084-8.87,8.855V38.477Zm30.06,0V55.416l-8.87-8.855Zm-20.09,9.092,4.58,4.172a0.712,0.712,0,0,0,.96,0l4.58-4.172,8.94,8.914h-28Z', transform='translate(-1052 -36)')

        +friend('Alex', '1 000')
        +friend('Jina', '1 000')
        +friend('Gabe', '1 000')
        +friend('Den', '1 000')

        div.settings__friends_item(class="js-scroll-item-hidden")
            div.info
                a.name(href="#") John
                p.value= value
            svg.msg-icon(xmlns='http://www.w3.org/2000/svg', width='33', height='22', viewbox='0 0 33 22')
                path(d='M1053.1,36a1.132,1.132,0,0,0-1.1,1.138V56.862A1.132,1.132,0,0,0,1053.1,58h30.8a1.132,1.132,0,0,0,1.1-1.138V37.138A1.132,1.132,0,0,0,1083.9,36h-30.8Zm1.52,1.517h27.76L1068.5,50.165Zm-1.15.96,8.87,8.084-8.87,8.855V38.477Zm30.06,0V55.416l-8.87-8.855Zm-20.09,9.092,4.58,4.172a0.712,0.712,0,0,0,.96,0l4.58-4.172,8.94,8.914h-28Z', transform='translate(-1052 -36)')

        div.settings__friends_item(class="js-scroll-item-hidden")
            div.info
                a.name(href="#") Lee
                p.value= value
            svg.msg-icon(xmlns='http://www.w3.org/2000/svg', width='33', height='22', viewbox='0 0 33 22')
                path(d='M1053.1,36a1.132,1.132,0,0,0-1.1,1.138V56.862A1.132,1.132,0,0,0,1053.1,58h30.8a1.132,1.132,0,0,0,1.1-1.138V37.138A1.132,1.132,0,0,0,1083.9,36h-30.8Zm1.52,1.517h27.76L1068.5,50.165Zm-1.15.96,8.87,8.084-8.87,8.855V38.477Zm30.06,0V55.416l-8.87-8.855Zm-20.09,9.092,4.58,4.172a0.712,0.712,0,0,0,.96,0l4.58-4.172,8.94,8.914h-28Z', transform='translate(-1052 -36)')

    button.btn-more(class="js-btn-more")
        img(src=require('../../images/chevrones-more.png'))