extends ../../base
block title
    | SRG LK - Settings

block main
    include ../../header
    main.lk
        div.bg
        section.particles.particles--main(id="lk-particles-main")
        h2.title.title--center Настройки
        section.section
            section#settings.settings
                section.pin.user(class="js-border" data-color-from="#6368c0" data-color-to="#f05356" data-radius="0")
                    include settings__user
                div.settings-w
                    section.pin.settings__friends(class="js-border" data-color-from="#8bc9bc" data-color-to="#8ccabd" data-radius="0")
                        include settings__friends
                    section.pin.settings__chat(class="js-border" data-color-from="#f2d65c" data-color-to="#b0f098" data-radius="0")
                        include settings__chat