div.wrapper
    h2.user__title настройки аккаунта
    section.user__info
        div.user__info-w
            div.user__info-ava
                img(src=require('../../images/ava.png'))
                button.btn-edit изменить
            div.user__info-name Nagibator98
        div.user__info-value 1 000

    section.user__options
        div.user__option
            div.user__option-field
                p.user__option-title Электронная почта
                div.user__option-field-w
                    div.user__option-value nagibator98batya@mail.ru
                    button.btn-edit.js-edit-option изменить

            div.user__option-edit.js-edit-area
                p.user__option-title Новый адрес
                form.user__option-form
                    div.user__option-edit-w
                        label.user__option-input-w(class="js-border" data-color-from="#6368c0" data-color-to="#f05356")
                            input.user__option-input(type="test")
                        button.btn-round Сохранить
                    div.alert *Некорректный адрес

        div.user__option
            div.user__option-field
                p.user__option-title Телефон
                div.user__option-field-w
                    div.user__option-value + 7 *** *** ** 89
                    button.btn-edit.js-edit-option изменить

            div.user__option-edit.js-edit-area
                p.user__option-title Новый номер
                form.user__option-form
                    div.user__option-edit-w
                        label.user__option-input-w(class="js-border" data-color-from="#6368c0" data-color-to="#f05356")
                            input.user__option-input(type="test")
                        button.btn-round Сохранить
                    div.alert *Некорректный номер телефона

        div.user__option
            div.user__option-field
                p.user__option-title Уведомления
                div.user__option-field-w
                    div.user__option-value + 7 *** *** ** 89
                    button.btn-edit.js-edit-option изменить

            div.user__option-edit.js-edit-area
                p.user__option-title Новый номер
                form.user__option-form
                    div.user__option-edit-w
                        label.user__option-input-w(class="js-border" data-color-from="#6368c0" data-color-to="#f05356")
                            input.user__option-input(type="test")
                        button.btn-round Сохранить
                    div.alert *Некорректный номер телефона

        div.user__option
            div.user__option-field
                p.user__option-title Реквизиты
                div.user__option-field-w
                    div.user__option-value 30101810400000000225
                    button.btn-edit.js-edit-option изменить

            div.user__option-edit.js-edit-area
                p.user__option-title Новые реквизиты
                form.user__option-form
                    div.user__option-edit-w
                        label.user__option-input-w(class="js-border" data-color-from="#6368c0" data-color-to="#f05356")
                            input.user__option-input(type="test")
                        button.btn-round Сохранить
                    div.alert *Некорректные реквизиты