.main-btn {
    display: block;
    position: relative;
    background: none;
    border: none;
    font-size: 20px;
    letter-spacing: 2.5px;
    color: $white;
    padding: 15px 40px;
    line-height: 1.5;
    cursor: pointer;
    z-index: 10;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    &:before {
        position: absolute;
        content: '';
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background: $lGrey;
        border-radius: calc(#{$borderRad} - 2px);
        transform: translate(10px, -10px);
        transition: .25s ease-out;
        z-index: -1;

        // for <a>-type button
        text-decoration: none;
    }

    &:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 16px;
        margin: 0 0 -2px 10px;
        background-image: url(./images/chevrones-right.png);
        background-size: contain;
        background-repeat: no-repeat;

        @media (max-width: 576px) {
            width: 14px;
            height: 10px;
            margin: 0 0 0 10px;
        }
    }

    &:hover {
        &:before {
            transform: translate(0px, 0px);
        }
    }

    &--start,
    &--login {
        margin: 75px auto 0 auto;
    }

    &--personal {
        margin: 40px auto 0 auto;
    }

    &--invite {
        &:after {
            display: none;
        }
    }
}

.btn-more {
    position: relative;
    margin: 50px auto 0 auto;
    transition: .15s ease-out;
    cursor: pointer;

    &:hover {
        &:after {
            transform: translate(0, 0);
        }
    }

    &:active {
        transform: translateY(5px);
    }

    &:after {
        content: '';
        position: absolute;
        top: -2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(./images/chevrones-more--grey.png);
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate(7px, -7px);
        transition: .15s ease-out;
    }

    img {
        position: relative;
        z-index: 1;
    }

    &.frozen {
        cursor: auto;

        &:active {
            transform: none;
        }

        &:hover {
            &:after {
                transform: none;
            }
        }
    }

    &--partners {
        margin: 30px auto 20px auto;
    }

    &--partners__friends {
        margin-top: 40px;
        left: -8px;
    }

    &--small {
        margin-top: 35px;

        img {
            width: 70px;
            height: auto;
        }
    }
}

.btn-round {
    border: none;
    background-image: linear-gradient(70.847deg, rgb(102, 200, 191) 0%, rgb(62, 167, 161) 100%);
    padding: 11px 25px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    opacity: 1;
    transition: .15s ease-out;

    &:hover {
        opacity: 0.8;
    }
}

.btn-edit {
    font-size: 17px;
    color: #71cdbe;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: .15s ease-out;
    
    &:hover {
        color: #fff;
    }
}

.alert {
    font-size: 12px;
    font-weight: 300;
    color: #848483;
}

