// #becb97;
// #6a9f99;
.footer {
	background-color: $black;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: -3px;
		width: 100%;
		height: 3px;
		background: linear-gradient(90deg, #becb97 30%, #6a9f99 100%);
		z-index: 2;
	}

	&-wrapper {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;
		padding: 50px 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		box-sizing: border-box;

		@media (max-width: 1200px) {
			padding: 50px 30px;
		}

		@media (max-width: 768px) {
			padding: 20px 30px;
			flex-wrap: wrap;
		}
	}

	&-logo {
		position: relative;
		top: 30px;
		left: 0;
	}

	&-col {
		list-style: none;
		line-height: 2;

		@media (max-width: 576px) {
			flex: 0 0 50%;
			margin-bottom: 30px;
		}

		&--logo {
			width: 100%;
			flex: 0 0 25%;

			@media (max-width: 768px) {
				flex: 0 0 100%;
				margin-bottom: 70px;
			}
		}
	}

	&-item {
		font-size: 12px;
		font-weight: 300;

		&:first-child {
			text-transform: uppercase;
			font-weight: bold;
		}

		a {
			display: inline-block;
			font-weight: bold;
			margin-left: 5px;
		}
	}
}