.header {
    position: relative;
    height: 100px;
    background: $headerBg;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a:hover {
        text-decoration: none;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, #6a9f99 30%, #becb97 100%);
        z-index: 2;
    }

    &-btn-wrapper {
        position: relative;
        width: 180px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 100%;
            opacity: 0.28;
            background: linear-gradient(to bottom, rgba(133, 116, 170, 1) 0%, rgba(147, 207, 205, 1) 100%);
        }
    }

    &-btn {
        width: 45px;
        height: 30px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 5px;
            width: 100%;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
                background: #92cbcb;
            }

            &:nth-child(2) {
                top: 12px;
                background: #8ca3bd;
            }

            &:nth-child(3) {
                top: 24px;
                background: #8578ab;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    top: 11px;
                    transform: rotate(135deg);
                }

                &:nth-child(3) {
                    top: 11px;
                    transform: rotate(-135deg);
                    background: #92cbcb;
                }

                &:nth-child(2) {
                    opacity: 0;
                    left: -60px;
                }
            }
        }
    }

    &-logo {
        width: calc(100% - 480px);
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @media (max-width: 767px) {
            display: none;
        }

        &:hover {
            .header-logo-wrapper:after {
                transform: translate(0, 0);
            }
        }

        &-wrapper {
            position: relative;
            width: 46px;
            height: 46px;
            margin-left: 80px;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            &:after {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                background: $lGrey;
                border-radius: 50%;
                transform: translate(5px, -5px);
                transition: 0.15s ease-out;
                z-index: 1;
                opacity: .7;
            }
        }

        &-canvas {
            display: block;
            position: absolute;
            top: 2px;
            left: 2px;
            z-index: 2;
        }

        &-img {
            position: relative;
            display: block;
            z-index: 2;
        }

        &-title {
            margin-left: 20px;
            font-size: 30px;
            transition: .15s ease-out;

            &:focus,
            &:active,
            &:hover {
                color: #c7e8b6;
                text-decoration: none;
            }
        }
    }

    &-controls {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-icon {
        fill: #71cdbe;
        transition: .15s ease-out;
        cursor: pointer;

        &:not(:last-of-type) {
            margin-right: 30px;
        }

        &:hover {
            fill: #fff;
        }
    }

    &-menu {
        position: absolute;
        left: 30px;
        top: 30px;
        z-index: 100;
        width: 295px;
        height: 450px;
        box-shadow: 0px 0px 20px 0px rgba(89, 175, 168, 0.5);
        display: none;
        z-index: 100;

        @media (max-width: 1200px) {
            width: 80vw;
            left: 4.5vw;
        }

        &.active {
            display: block;
        }

        &-icon {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(./images/main-user-icon--grey.png);
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 1;
                transform: translate(5px, -5px);
                transition: .15s ease-out;
            }

            img {
                position: relative;
                z-index: 2;
            }
        }

        &-wrapper {
            position: relative;
            z-index: 10;
        }

        &-profile {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 25px;
            cursor: pointer;

            &:hover {
                .header-menu-icon:before {
                    transform: translate(0, 0);
                }
            }
        }

        &-name {
            margin-left: 15px;
            font-size: 32px;
        }

        &-value {
            margin-left: 10px;
        }
    }

    &-stat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #71cdbe;

        .header-menu-icon:before {
            width: 38px;
            height: 38px;
            background: none;
            border-radius: 50%;
            background: $lGrey;
        }
    }

    &-humans,
    &-gmp {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            height: 38px;
            width: 38px;
        }

        &:hover {
            cursor: pointer;
            .header-menu-icon:before {
                transform: translate(0, 0);
            }
        }
    }

    &-nav {
        font-size: 17px;
        line-height: 2.5;
        font-weight: normal;

        a:hover {
            text-decoration: underline;
        }
    }

    .pin {
        background: rgba(31, 31, 31, 1) !important;
        padding: 30px 18px;
    }
}