.js-video {
	will-change: transform;
}

.js-video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-image: url(./images/video-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.js-hidden {
	display: none !important;

	&-1 {
		user-select: none;
		opacity: .3;
	}
}

.js-border {
	position: relative;

	&:hover > canvas:last-of-type {
		filter: blur(3px);

		&.js-no-filter {
			filter: none;
		}

		@media (max-width: 1200px) {
			filter: none;
		}
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		filter: blur(0px);
		transition: .15s ease-out;
		z-index: 1;

		@media (max-width: 1200px) {
			filter: none;
		}

		&:last-of-type {
			z-index: 0;
		}
	}
}

.js-video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.js-scroll-item-hidden {
	display: none !important;
}

.js-scroll-list {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-right: 25px;
}