.video {
    display: block;
    position: relative;
    width: 800px;
    height: 450px;
    margin: 0 auto;
    padding-top: 80px;
    box-shadow: 0px 0px 20px 0px rgba(89, 175, 168, 0.5);
    box-sizing: border-box;
    transition: 0.25s ease-out;

    @media (max-width: 992px) {
        width: 540px;
        height: 300px;

        #ytplayer {
            height: 300px !important;
        }
    }

    @media (max-width: 576px) {
        width: 300px;
        height: 150px;
        padding-top: 40px;

        #ytplayer {
            height: 150px !important;
        }
    }

    &:hover {
        box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
    }

    &-title {
        position: relative;
        width: auto;
        display: block;
        font-size: 82px;
        text-align: center;
        margin: 0 auto;
        z-index: 10;

        @media (max-width: 992px) {
            font-size: 48px;
        }

        @media (max-width: 576px) {
            font-size: 24px;
        }

        span {
            display: block;

            &:first-child {
                font-size: 100px;
                font-weight: bold;

                @media (max-width: 992px) {
                    font-size: 72px;
                }

                @media (max-width: 576px) {
                    font-size: 32px;
                }
            }

            &:last-child {
                font-weight: 300;
            }
        }
    }

    &-btn-wrapper {
        position: absolute;
        width: 80px;
        height: 80px;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        z-index: 1;
        cursor: pointer;

        @media (max-width: 576px) {
            width: 60px;
            height: 60px;
            top: calc(50% - 30px);
            left: calc(50% - 30px);

            img {
                width: 100%;
                height: 100%;
            }
        }

        &:before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            border-radius: 100%;
            background-color: $lGrey;
            z-index: -1;
            opacity: 0.9;
            transform: translate(5px, -5px);
            transition: 0.25s ease-out;
        }

        &:hover:before {
            transform: translate(0, 0);
        }
    }

    &--courses {
        width: 655px;
        height: 370px;
        margin: 35px 0 30px 0;

        @media (max-width: 992px) {
            width: 540px;
            height: 300px;

            #ytplayer {
                height: 300px !important;
            }
        }

        @media (max-width: 576px) {
            width: calc(100% - 15px);
            height: 150px;
            padding-top: 40px;

            #ytplayer {
                height: 150px !important;
            }
        }
    }

    &--ref {
        width: 430px;
        height: 240px;
        padding-top: 60px;

        @media (max-width: 992px) {
            width: 430px;
            height: 250px;

            #ytplayer {
                height: 250px !important;
            }
        }

        @media (max-width: 767px) {
            margin: 0;
        }

        @media (max-width: 576px) {
            width: 250px;
            height: 150px;
            padding-top: 40px;

            #ytplayer {
                height: 150px !important;
            }
        }
    }

    &--social {
        width: 250px;
        height: 150px;
        padding-top: 40px;
        margin: 0;

        @media (max-width: 767px) {
            width: 430px;
            height: 250px;

            #ytplayer {
                height: 250px !important;
            }
        }

        @media (max-width: 576px) {
            width: 250px;
            height: 150px;
            padding-top: 40px;

            #ytplayer {
                height: 150px !important;
            }
        }
    }
}