section.pin.personal__news(class="js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf" data-radius="0")
    div.wrapper
        h2.title.title--gradient Новости
        p.sub-title о проекте
        section.personal__icon-list
            div.personal__icon
                img(src=require('../../images/news-icon-1.png'))
            div.personal__icon
                img(src=require('../../images/news-icon-2.svg'))
            div.personal__icon
                img(src=require('../../images/news-icon-3.svg'))
            div.personal__icon
                img(src=require('../../images/news-icon-4.svg'))
            div.personal__icon
                img(src=require('../../images/news-icon-5.svg'))
            div.personal__icon
                img(src=require('../../images/news-icon-6.png'))
        section.personal__news_list(id="shit" class="js-scroll-list")
            div.personal__news_item
                header.personal__news_item-title
                    span.personal__news_item-name Hungry For blood
                    span.personal__news_item-info @Hungry39 29 окт.
                span.personal__news_item-text Tweet what is yours. #[a(href="#") #Gameo] episodes...
                a.personal__news_item-read-more(href="#") подробнее
            div.personal__news_item
                header.personal__news_item-title
                    span.personal__news_item-name Hungry For blood
                    span.personal__news_item-info @Hungry39 29 окт.
                span.personal__news_item-text Tweet what is yours. #[a(href="#") #Gameo] episodes...
                a.personal__news_item-read-more(href="#") подробнее
            div.personal__news_item(class="js-scroll-item-hidden")
                header.personal__news_item-title
                    span.personal__news_item-name Hungry For blood
                    span.personal__news_item-info @Hungry39 29 окт.
                span.personal__news_item-text Tweet what is yours. #[a(href="#") #Gameo] episodes...
                a.personal__news_item-read-more(href="#") подробнее
            div.personal__news_item(class="js-scroll-item-hidden")
                header.personal__news_item-title
                    span.personal__news_item-name Hungry For blood
                    span.personal__news_item-info @Hungry39 29 окт.
                span.personal__news_item-text Tweet what is yours. #[a(href="#") #Gameo] episodes...
                a.personal__news_item-read-more(href="#") подробнее
        span.personal__more-news(class="js-btn-more") ещё