section.pin.personal__cash(class="js-border" data-color-from="#ffa425" data-color-to="#f8dc52" data-radius="0")
    div.wrapper
        h2.title.title--small Доходы
        p.sub-title в минуту
        section.personal__cash_list
            section.personal__cash_list-period
                p.personal__cash_list-period_date 30.10.2017
                    mixin infoInner(userImage, userClass)
                        - userClass = (userClass === undefined) ? 'user-icon' : userClass
                        div.personal__cash_item
                            div.personal__cash_item-info
                                div.personal__cash_item-icon(class= userClass)
                                    img(src=require('../../images/'+ userImage + '.png'))
                                spam.personal__cash_item-name Alex
                            div.personal__cash_item-result 160 GMP

                +infoInner('gain-icon--orange')
                +infoInner('gain-icon--light-blue', '')
                +infoInner('gain-icon--blue', '')
                +infoInner('gain-icon--violet', '')

            section.personal__cash_list-period
                p.personal__cash_list-period_date 29.10.2017
                mixin infoInner(userImage, userClass)
                    - userClass = (userClass === undefined) ? 'user-icon' : userClass
                    div.personal__cash_item
                        div.personal__cash_item-info
                            div.personal__cash_item-icon(class= userClass)
                                img(src=require('../../images/' + userImage + '.png'))
                            spam.personal__cash_item-name Alex
                        div.personal__cash_item-result 160 GMP

                +infoInner('gain-icon--orange')
                +infoInner('gain-icon--light-blue', '')

        button.btn-more.frozen
            img(src=require('../../images/chevrones-more.png'))