section.pin.personal__study(class="js-border" data-color-from="#8574aa" data-color-to="#93cfcd" data-radius="0")
    div.wrapper
        h2.title.title--small Обучение
        p.sub-title тренинг
        div.time-tracker
            div.time-tracker__value 00:10:08:59
            div.time-tracker__desc
                span дней
                span часов
                span минут
                span секунд
        p.personal__study_start начало
        button.main-btn.main-btn--personal(class="js-border" data-color-from="#8574aa" data-color-to="#93cfcd") Подробнее