section.pin.personal__players(class="js-border" data-color-from="#ffa425" data-color-to="#f8dc52" data-radius="0")
    div.wrapper
        h2.title.title--small Лучшие игроки
        section.personal__players_list
            mixin player(name)
                div.personal__players_item
                    div.personal__players_item-info
                        div.personal__players_item-icon
                            svg(xmlns='http://www.w3.org/2000/svg', width='22', height='22', viewbox='0 0 306 306')
                                polygon(points='153 230.8 247.4 299.6 211.7 187.4 306 121.1 191.3 121.1 153 6.4 114.8 121.1 0 121.1 94.4 187.4 58.7 299.6 ')
                        spam.personal__players_item-name= name
                    div.personal__players_item-result 150 009 GMP

            +player('Alex')
            +player('Dido')
            +player('Alice')