extends ../../base
block title
    | SRG LK - Login

block main
    include ../../header
    main.lk
        div.bg
        img.main-logo(src=require('../../images/main-screen-logo.png'))
        section.particles.particles--main(id="lk-particles-main")
        section.section
            section#personal.personal
                section.personal-left
                    include personal__news
                    section.personal-bottom
                        include personal__players
                        include personal__study
                section.personal-right
                    include personal__cash
            button.personal-add
                img.personal-add-icon(src=require('../../images/add-icon.png'))