extends ./../base
block title
    | SRG LK - Login

block main
    main.lk
        div.bg
        img.main-logo(src=require('../images/main-screen-logo.png'))
        section.particles.particles--main(id="lk-particles-main")
        section#login.login(class="js-border" data-color-from="#5f64b4" data-color-to="#3c9893", data-radius="0")
            form.login__form
                div.login__form-wrapper
                    h2.login__title регистрация
                    div.login__inputs
                        label.login__label(class="js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf")
                            input.login__input(placeholder="Имя")
                        label.login__label(class="js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf")
                            input.login__input(placeholder="Фамилия")
                        label.login__label(class="js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf")
                            input.login__input(placeholder="Ник")
                        label.login__label(class="js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf")
                            input.login__input(placeholder="Почта")
                    div.login__terms-wrapper
                        div.login__terms
                            p.login__terms-title Пользовательское соглашение
                            p.login__terms-text Lorem ipsum dolor sit amet, homero honestatis ad has, eros dissentias no his. Nonumes constituam in quo. Est ut libris gubergren adolescens, duo no populo malorum. Et sit probatus petentium, brute graeci fierent mel te.
                            p.login__terms-text Odio antiopam no per, alia dignissim mea ex. Usu ex dolor consetetur, iudico scripta vix an. Id nullam admodum vis, atqui corpora dignissim ad nec. Unum cetero cu pro, oporteat scriptorem neglegentur his ei, et noster aperiri docendi est.
                            p.login__terms-text No aliquid persequeris nam. Duo saepe aeterno ne. Brute illud singulis nec in, nusquam persequeris duo et. Veniam verear contentiones ad mel, odio falli te quo. Ius facilisi consetetur contentiones ad, ut possim omittam appetere his. Eripuit propriae eam ex.
                            p.login__terms-text Magna repudiandae te mei. Tale soluta vix ex. Per at iuvaret pertinacia, commune deserunt senserit et mel. Sea molestiae eloquentiam an. His graeci ancillae cu, est detracto perfecto qualisque ne.
                            p.login__terms-text Justo dolore regione cu sed, in congue explicari accusamus pro. Vim dicat debitis imperdiet ea, eu nam sumo zril erroribus. Mei reque molestie repudiare ea. Ad nec modus feugiat eloquentiam. At mel bonorum nostrum argumentum, dicat adipisci te vel. Eos ea modo iracundia. Novum periculis constituam id mel.
                    div.login__checkbox-wrapper(class="js-checkbox")
                        div.login__checkbox
                            input(type="checkbox")
                            img(src=require('../images/check.png'))
                        span я понимаю и принимаю Пользовательское Соглашение
        button.main-btn.main-btn--start(class="js-border" data-color-from="#ffa425" data-color-to="#3c9893") Зарегистрироваться