extends ./../base
block title
    | SRG LK - Main

block main
    main.lk
        img.main-logo(src=require('../images/main-screen-logo.png'))
        section#start.main-screen
            section.particles.particles--1(id="lk-particles-1")
            section.particles.particles--2(id="lk-particles-2")
            section.video(class="js-video")
                div#ytplayer
                div(class="js-video-overlay")
                h1.video-title(class="js-video-title")
                    span SRG
                    span Play & Earn
                    div.video-btn-wrapper(class="js-video-start")
                        img.video-btn(src=require('../images/play-btn.png'))
            button.main-btn.main-btn--start(class="js-border" data-color-from="#ffa425" data-color-to="#f8dd52") Пройти регистрацию