div.wrapper
    h2.title.title--gradient Структура
    section.stats__structure-w
        img.stats__structure-graph(src=require('../../images/info.png'))

        div.stats__structure_items
            div.stats__structure_item
                div.stats__structure_item-w
                    img.stats__structure_item-icon(src=require('../../images/structure-icon-0.png'))
                    p.stats__structure_item-count 980
                p.stats__structure_item-active
                    span.stats__structure_item-value 350
                    span.stats__structure_item-desc активных
                a.stats__structure_item-link(href="#") скачать

            div.stats__structure_item
                div.stats__structure_item-w
                    img.stats__structure_item-icon(src=require('../../images/structure-icon-1.png'))
                    p.stats__structure_item-count 25
                p.stats__structure_item-active
                    span.stats__structure_item-value 10
                    span.stats__structure_item-desc активных

            div.stats__structure_item
                div.stats__structure_item-w
                    img.stats__structure_item-icon(src=require('../../images/structure-icon-2.png'))
                    p.stats__structure_item-count 175
                p.stats__structure_item-active
                    span.stats__structure_item-value 80
                    span.stats__structure_item-desc активных

            div.stats__structure_item
                div.stats__structure_item-w
                    img.stats__structure_item-icon(src=require('../../images/structure-icon-3.png'))
                    p.stats__structure_item-count 780
                p.stats__structure_item-active
                    span.stats__structure_item-value 260
                    span.stats__structure_item-desc активных