div.wrapper
    h2.title.title--small Доходы
    section.stats__cash_list
        section.stats__cash_item
            p.stats__cash_item-line 1 #[span линия]
            p.stats__cash_item-value #[span 12 000] #[span GMP]
        section.stats__cash_item
            p.stats__cash_item-line 2 #[span линия]
            p.stats__cash_item-value #[span 25 000] #[span GMP]
        section.stats__cash_item
            p.stats__cash_item-line 3 #[span линия]
            p.stats__cash_item-value #[span 48 000] #[span GMP]
    section.stats__cash_total
        p.stats__cash_total-desc ИТОГО:
        p.stats__cash_total-value #[span 85 000] #[span GMP]
    button.main-btn(class="js-border" data-color-from="#88c4bc" data-color-to="#88c4bc") Подробнее
