div.wrapper
    h2.title.title--small Лучшие пользователи #[span в этом месяце]
    section.stats__users_list
        div.stats__users_item
            div.stats__users_item-icon
                svg(xmlns='http://www.w3.org/2000/svg', width='22', height='22', viewbox='0 0 306 306')
                    polygon(points='153 230.8 247.4 299.6 211.7 187.4 306 121.1 191.3 121.1 153 6.4 114.8 121.1 0 121.1 94.4 187.4 58.7 299.6 ')
            span.stats__users_item-name Alex
        div.stats__users_item
            div.stats__users_item-icon
                svg(xmlns='http://www.w3.org/2000/svg', width='22', height='22', viewbox='0 0 306 306')
                    polygon(points='153 230.8 247.4 299.6 211.7 187.4 306 121.1 191.3 121.1 153 6.4 114.8 121.1 0 121.1 94.4 187.4 58.7 299.6 ')
            span.stats__users_item-name Alex
        div.stats__users_item
            div.stats__users_item-icon
                svg(xmlns='http://www.w3.org/2000/svg', width='22', height='22', viewbox='0 0 306 306')
                    polygon(points='153 230.8 247.4 299.6 211.7 187.4 306 121.1 191.3 121.1 153 6.4 114.8 121.1 0 121.1 94.4 187.4 58.7 299.6 ')
            span.stats__users_item-name Alex