extends ../../base
block title
    | SRG LK - Stats

block main
    include ../../header
    main.lk
        div.bg
        section.particles.particles--main(id="lk-particles-main")
        h2.title.title--center Статистика
        section.section
            section#stats.stats
                section.pin.stats__structure(class="js-border" data-color-from="#ecd14f" data-color-to="#f4a028" data-radius="0")
                    include stats__structure
                section.stats-right
                    section.pin.stats__cash(class="js-border" data-color-from="#8dc6c3" data-color-to="#556e6f" data-radius="0")
                        include stats__cash
                    section.pin.stats__users(class="js-border" data-color-from="#6368c0" data-color-to="#ed5052" data-radius="0")
                        include stats__users