div.wrapper
    section.promo__com-w
        section.promo__com_banners
            a.promo__com_banners-item(href="https://drive.google.com/open?id=0B0BfzEjhuIcdbWNrSWNmTkd2alpsN2thZWdrOHBtcWpMSXVJ" target="_blank")
                img(src=require('../../images/banner-play-earn-0.png'))
            a.promo__com_banners-item(href="https://drive.google.com/open?id=0B0BfzEjhuIcdbWNrSWNmTkd2alpsN2thZWdrOHBtcWpMSXVJ" target="_blank")
                img(src=require('../../images/banner-play-earn-1.png'))
        a.promo__link-btn(class="js-border" data-color-from="#ecd351" data-color-to="#fba226" data-radius="25" href="https://drive.google.com/open?id=0B0BfzEjhuIcdbWNrSWNmTkd2alpsN2thZWdrOHBtcWpMSXVJ" target="_blank") Скачать