extends ../../base
block title
    | SRG LK - Promotion

block main
    include ../../header
    main.lk
        div.bg
        section.particles.particles--main(id="lk-particles-main")
        h2.title.title--center Продвижение
        section.section
            section#promo.promo
                section.pin.promo__ref(class="js-border" data-color-from="#d0e0ae" data-color-to="#d0e2af" data-radius="0")
                    include promo__ref
                section.promo-right
                    section.pin.promo__social(class="js-border" data-color-from="#ffe15f" data-color-to="#b9fc9f" data-radius="0")
                        include promo__social
                    section.promo-bottom
                        section.pin.promo__com-icons(class="js-border" data-color-from="#ecd14f" data-color-to="#f39e26" data-radius="0")
                            include promo__com-icons
                        section.pin.promo__com(class="js-border" data-color-from="#8dc6c3" data-color-to="#556e6f" data-radius="0")
                            include promo__com