div.wrapper
    section.promo__ref_link
        div.promo__ref_link-w
            p.promo__ref_link-desc Личная ссылка
            button.promo__link-btn(class="js-border js-copy-ref" data-color-from="#ecd351" data-color-to="#fba226" data-radius="25") Копировать
        label.promo__ref_link-label
            input.promo__ref_link-input(class="js-ref-link" type="text" value="?=ref?asdb12db1ktyfg16")

    section.promo__ref_list(class="js-scroll-list")
        section.promo__ref_item
            section.promo__ref_post
                p.promo__ref_post-desc Добро пожаловать в первую международную программу лояльности, присоединяйся к новой эпохе развития игровой индустрии!
                section.video.video--ref(class="js-video")
                    iframe(src='https://www.youtube.com/embed/ZZmHD8gGgmI?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                    div(class="js-video-overlay")
                    div.video-title(class="js-video-title")
                        span SRG
                        span Play & Earn
                        div.video-btn-wrapper(class="js-video-start")
                            img.video-btn(src=require('../../images/play-btn.png'))
            button.main-btn(class="js-border js-copy-post" data-color-from="#88c4bc" data-color-to="#88c4bc") Копировать
        section.promo__ref_item(class="js-scroll-item-hidden")
            section.promo__ref_post
                p.promo__ref_post-desc Добро пожаловать в первую международную программу лояльности, присоединяйся к новой эпохе развития игровой индустрии!
                section.video.video--ref(class="js-video")
                    iframe(src='https://www.youtube.com/embed/ZZmHD8gGgmI?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                    div(class="js-video-overlay")
                    div.video-title(class="js-video-title")
                        span SRG
                        span Play & Earn
                        div.video-btn-wrapper(class="js-video-start")
                            img.video-btn(src=require('../../images/play-btn.png'))
            button.main-btn(class="js-border js-copy-post" data-color-from="#88c4bc" data-color-to="#88c4bc") Копировать
        section.promo__ref_item(class="js-scroll-item-hidden")
            section.promo__ref_post
                p.promo__ref_post-desc Добро пожаловать в первую международную программу лояльности, присоединяйся к новой эпохе развития игровой индустрии!
                section.video.video--ref(class="js-video")
                    iframe(src='https://www.youtube.com/embed/ZZmHD8gGgmI?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                    div(class="js-video-overlay")
                    div.video-title(class="js-video-title")
                        span SRG
                        span Play & Earn
                        div.video-btn-wrapper(class="js-video-start")
                            img.video-btn(src=require('../../images/play-btn.png'))
            button.main-btn(class="js-border js-copy-post" data-color-from="#88c4bc" data-color-to="#88c4bc") Копировать

    button.btn-more(class="js-btn-more")
        img(src=require('../../images/chevrones-more.png'))
