div.wrapper
    section.promo__com-icons_list
        a.promo__com-icons_link(href="https://drive.google.com/open?id=0B0BfzEjhuIcdbWNrSWNmTkd2alpsN2thZWdrOHBtcWpMSXVJ")
            img(src=require('../../images/promo-icon-0.png'))
        a.promo__com-icons_link(href="https://drive.google.com/open?id=0B0BfzEjhuIcdbWNrSWNmTkd2alpsN2thZWdrOHBtcWpMSXVJ")
            img(src=require('../../images/promo-icon-1.png'))