div.wrapper

    h2.title.title--small Посты #[span для социальных сетей]

    section.promo__social_list(class="js-scroll-list")
        section.promo__social_item
            section.promo__social_item-video
                section.video.video--social(class="js-video")
                    iframe(src='https://www.youtube.com/embed/ZZmHD8gGgmI?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                    div(class="js-video-overlay")
                    div.video-title(class="js-video-title")
                        span SRG
                        span Play & Earn
                        div.video-btn-wrapper(class="js-video-start")
                            img.video-btn(src=require('../../images/play-btn.png'))
            section.promo__social_item-desc
                p.promo__social_item-text Добро пожаловать в первую международную программу лояльности, присоединяйся к новой эпохе развития игровой индустрии!
                button.main-btn(class="js-border js-copy-post-ref" data-color-from="#88c4bc" data-color-to="#88c4bc") Копировать

        section.promo__social_item(class="js-scroll-item-hidden")
            section.promo__social_item-video
                section.video.video--social(class="js-video")
                    iframe(src='https://www.youtube.com/embed/ZZmHD8gGgmI?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                    div(class="js-video-overlay")
                    div.video-title(class="js-video-title")
                        span SRG
                        span Play & Earn
                        div.video-btn-wrapper(class="js-video-start")
                            img.video-btn(src=require('../../images/play-btn.png'))
            section.promo__social_item-desc
                p.promo__social_item-text Добро пожаловать в первую международную программу лояльности, присоединяйся к новой эпохе развития игровой индустрии!
                button.main-btn(class="js-border js-copy-post-ref" data-color-from="#88c4bc" data-color-to="#88c4bc") Копировать

        section.promo__social_item(class="js-scroll-item-hidden")
            section.promo__social_item-video
                section.video.video--social(class="js-video")
                    iframe(src='https://www.youtube.com/embed/ZZmHD8gGgmI?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                    div(class="js-video-overlay")
                    div.video-title(class="js-video-title")
                        span SRG
                        span Play & Earn
                        div.video-btn-wrapper(class="js-video-start")
                            img.video-btn(src=require('../../images/play-btn.png'))
            section.promo__social_item-desc
                p.promo__social_item-text Добро пожаловать в первую международную программу лояльности, присоединяйся к новой эпохе развития игровой индустрии!
                button.main-btn(class="js-border js-copy-post-ref" data-color-from="#88c4bc" data-color-to="#88c4bc") Копировать

    button.btn-more(class="js-btn-more")
        img(src=require('../../images/chevrones-more.png'))
