extends ../../base
block title
    | SRG LK - Study

block main
    include ../../header
    main.lk
        div.bg
        section.particles.particles--main(id="lk-particles-main")
        h2.title.title--center Обучение
        section.section
            section#study.study
                section.pin.study__courses(class="js-border" data-color-from="#8dc6c3" data-color-to="#8274a5" data-radius="0")
                    include study__courses
                section.study-right
                    section.pin.study__training(class="js-border" data-color-from="#ffe15f" data-color-to="#b9fc9f" data-radius="0")
                        include study__training
                    section.pin.study__notes(class="js-border" data-color-from="#6368bf" data-color-to="#3da09b" data-radius="0")
                        include study__notes