div.wrapper
    h2.title.title--small Заметки

    div.study__notes_list(class="js-scroll-list")
        div.study__notes_item
            p.study__notes_title Тема 1
            p.study__notes_text Приглашать больше друзей
        div.study__notes_item
            p.study__notes_title Четверг
            p.study__notes_text Онлайн-курсы проходят каждый четверг
        div.study__notes_item(class="js-scroll-item-hidden")
            p.study__notes_title Тема 1
            p.study__notes_text Приглашать больше друзей
        div.study__notes_item(class="js-scroll-item-hidden")
            p.study__notes_title Четверг
            p.study__notes_text Онлайн-курсы проходят каждый четверг

    button.btn-more.btn-more--small(class="js-btn-more")
        img(src=require('../../images/chevrones-more.png'))