div.wrapper
    h2.title.title--gradient Видеокурсы
    section.study__courses_list(class="js-scroll-list")
        section.study__courses_video-w
            h3.study__courses_video-title Тренинг 1
            section.video.video--courses(class="js-video")
                iframe(src='https://www.youtube.com/embed/ZZmHD8gGgmI?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                div(class="js-video-overlay")
                div.video-title(class="js-video-title")
                    span SRG
                    span Play & Earn
                    div.video-btn-wrapper(class="js-video-start")
                        img.video-btn(src=require('../../images/play-btn.png'))
            p.study__courses_video-desc Coming soon
        section.study__courses_video-w(class="js-scroll-item-hidden")
            h3.study__courses_video-title Тренинг 1
            section.video.video--courses(class="js-video")
                iframe(src='https://www.youtube.com/embed/ZZmHD8gGgmI?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                div(class="js-video-overlay")
                div.video-title(class="js-video-title")
                    span SRG
                    span Play & Earn
                    div.video-btn-wrapper(class="js-video-start")
                        img.video-btn(src=require('../../images/play-btn.png'))
            p.study__courses_video-desc Coming soon

    button.btn-more(class="js-btn-more")
        img(src=require('../../images/chevrones-more.png'))