div.wrapper
    h2.title.title--small #[p Онлайн] Тренинг
    section.study__training-w
        div.time-tracker
            div.time-tracker__value 00:10:08:59
            div.time-tracker__desc
                span дней
                span часов
                span минут
                span секунд
        button.main-btn(class="js-border" data-color-from="#8574aa" data-color-to="#93cfcd") Подробнее