div.wrapper
    h2.title.title--small История операций
    section.reward__history_list(class="js-scroll-list")
        div.reward__history_list-w
            div.reward__history_item
                p.operation-date 30.10.2017
                p.operation.operation--pros #[span 1500] #[span GMP]
                p.operation.operation--cons #[span 6500] #[span GMP]
            div.reward__history_item
                p.operation-date 30.10.2017
                p.operation.operation--pros #[span 1500] #[span GMP]
                p.operation.operation--cons #[span 6500] #[span GMP]
            div.reward__history_item(class="js-scroll-item-hidden")
                p.operation-date 30.10.2017
                p.operation.operation--pros #[span 1500] #[span GMP]
                p.operation.operation--cons #[span 6500] #[span GMP]
            div.reward__history_item(class="js-scroll-item-hidden")
                p.operation-date 30.10.2017
                p.operation.operation--pros #[span 1500] #[span GMP]
                p.operation.operation--cons #[span 6500] #[span GMP]
    button.btn-more(class="js-btn-more")
        img(src=require('../../images/chevrones-more.png'))