div.wrapper.reward__balance-w
    div.reward__balance_header
        h2.title Баланс
        div.reward__balance_value-w
            img(src=require('../../images/gmp-icon--full.png'))
            div.reward__balance_value #[span 18 000] #[span GMP]
    div.reward__balance_operator
        p.title.title--small Оператор
        div.reward__balance_operator-list
            img(src=require('../../images/operator-icon-0.png'))
            img(src=require('../../images/operator-icon-1.png'))
            img(src=require('../../images/operator-icon-2.png'))
            img(src=require('../../images/operator-icon-3.png'))
    form.reward__balance_send
        p.title.title--small Введите сумму
        div.reward__balance_send-w
            input.reward__balance_send-input
            button.reward__balance_send-btn(type="submit") Отправить
        span.reward__balance_send-alert *некорректная сумма