extends ../../base
block title
    | SRG LK - Reward

block main
    include ../../header
    main.lk
        div.bg
        section.particles.particles--main(id="lk-particles-main")
        h2.title.title--center Вознаграждения
        section.section
            section#reward.reward
                section.pin.reward__balance(class="js-border" data-color-from="#8bc9bc" data-color-to="#8ccbbe" data-radius="0")
                    include reward__balance
                section.reward-right
                    section.pin.reward__history(class="js-border" data-color-from="#f2d65c" data-color-to="#b0f098" data-radius="0")
                        include reward__history
                    section.pin.reward__bonus(class="js-border" data-color-from="#ecd14f" data-color-to="#f29d25" data-radius="0")
                        include reward__bonus