footer.footer
	div.footer-wrapper
		div.footer-col.footer-col--logo
			img.footer-logo(src=require('./images/footer-logo.png'))

		div.footer-col
			a.footer-item(href="#" target="_blank") srg
			a.footer-item(href="#" target="_blank") Tokens
			a.footer-item(href="#" target="_blank") Teeam
			a.footer-item(href="#" target="_blank") Timeline
			a.footer-item(href="#" target="_blank") White Paper

		div.footer-col
			a.footer-item(href="#" target="_blank") company
			a.footer-item(href="#" target="_blank") Vacansies
			a.footer-item(href="#" target="_blank") Blog
			a.footer-item(href="#" target="_blank") Privacy Policy
			a.footer-item(href="#" target="_blank") Terms of Use

		div.footer-col
			a.footer-item(href="#" target="_blank") policies
			a.footer-item(href="#" target="_blank") KYC & AML
			a.footer-item(href="#" target="_blank") Token

		div.footer-col
			a.footer-item(href="#" target="_blank") CONTACTS
			div.footer-item General:
				a(href="#" target="_blank") info@srg.ru
			a.footer-item.lang.lang--ru(href="#" target="_blank") RU
			a.footer-item.lang.lang--en(href="#" target="_blank") EN