header#header.header
    section.header-btn-wrapper
        div.header-btn(class="js-burger")
            span
            span
            span
    a.header-logo(href="index.html")
        div.header-logo-wrapper
            canvas.header-logo-canvas(class="js-canvas-logo")
            img.header-logo-img(src=require('./images/icon-game.png'))
        p.header-logo-title Total WAR
    section.header-controls
        svg.header-icon.header-icon--call(xmlns='http://www.w3.org/2000/svg', width='26.03', height='26', viewbox='0 0 26.03 26')
            path(d='M1185,47.636a3.535,3.535,0,0,1-1.1-2.018,2.576,2.576,0,0,1,1.07-2.225,2.814,2.814,0,0,0,.91-1.236,2.624,2.624,0,0,0-.3-2c-1.03-1.294-1.96-2.758-2.88-3.849a2.262,2.262,0,0,0-2.22-.628,3.929,3.929,0,0,0-1.54,1.056c-2.32,2.365-3.29,4.8-2.87,7.249s2.06,4.756,4.54,7.289l2.93,2.993c2.48,2.533,4.73,4.219,7.13,4.643s4.78-.568,7.09-2.933a4.054,4.054,0,0,0,1.03-1.577,2.389,2.389,0,0,0-.61-2.272c-1.07-.941-2.5-1.9-3.77-2.94a2.445,2.445,0,0,0-1.96-.307,2.834,2.834,0,0,0-1.21.929,2.46,2.46,0,0,1-2.17,1.089,3.394,3.394,0,0,1-1.98-1.122m-5.66-12.207,2.59,3.468a0.869,0.869,0,0,1,.17.548,1.8,1.8,0,0,1-.4.454,4.554,4.554,0,0,0-1.65,3.755,5.092,5.092,0,0,0,1.61,3.127c0.76,0.781,1.34,1.379,2.09,2.138a4.969,4.969,0,0,0,3.06,1.644,4.381,4.381,0,0,0,3.67-1.684,2.175,2.175,0,0,1,.44-0.414,0.809,0.809,0,0,1,.54.174l3.39,2.652c0.24,0.252.21,0.258,0.16,0.428a2.723,2.723,0,0,1-.6.835c-1.35,1.391-3.59,2.952-5.53,2.432-1.77-.314-3.81-1.72-6.18-4.142l-2.93-2.993c-2.37-2.423-3.74-4.5-4.05-6.32-0.51-1.973,1.02-4.267,2.38-5.652a2.859,2.859,0,0,1,.82-0.608,0.339,0.339,0,0,1,.42.16h0Zm5.74-3.613a0.928,0.928,0,0,0,.93.86,12.252,12.252,0,0,1,12.13,12.4,0.886,0.886,0,1,0,1.77,0A14.069,14.069,0,0,0,1188.1,33a0.97,0.97,0,0,0-.93.954h0Zm0,3.628a0.928,0.928,0,0,0,.93.86,8.662,8.662,0,0,1,8.58,8.768,0.886,0.886,0,1,0,1.77,0,10.479,10.479,0,0,0-10.35-10.583,0.965,0.965,0,0,0-.93.954h0Z', transform='translate(-1175.97 -33)')
        svg.header-icon.header-icon--call(xmlns='http://www.w3.org/2000/svg', width='33', height='33', viewbox='0 0 33 33')
            path(d='M1133.27,64h-3.42c-0.66,0-.84,0-2.62-4.485l-1.18-.488c-3.65,1.673-4.09,1.673-4.28,1.673a0.989,0.989,0,0,1-.68-0.284L1118.67,58c-0.48-.482-0.6-0.611,1.32-5.046l-0.47-1.148c-4.52-1.637-4.52-1.835-4.52-2.525V45.85c0-.683,0-0.858,4.5-2.64l0.47-1.152c-2.02-4.356-1.88-4.491-1.4-4.98l2.43-2.416a0.989,0.989,0,0,1,.68-0.277c0.17,0,.63,0,4.34,1.6l1.19-.475c1.65-4.508,1.85-4.508,2.5-4.508h3.44c0.66,0,.84,0,2.62,4.485l1.18,0.488c3.63-1.673,4.07-1.673,4.27-1.673a1.021,1.021,0,0,1,.68.277l2.42,2.409c0.47,0.475.61,0.611-1.32,5.052l0.48,1.158c4.52,1.633,4.52,1.831,4.52,2.515v3.416c0,0.683,0,.865-4.5,2.64l-0.47,1.152c2.02,4.353,1.88,4.481,1.4,4.983L1142,60.324a1.038,1.038,0,0,1-.68.277h0c-0.18,0-.63,0-4.34-1.6l-1.19.488C1134.14,64,1133.94,64,1133.27,64Zm-2.92-1.868h2.42c0.33-.7.95-2.31,1.44-3.673a0.941,0.941,0,0,1,.52-0.541l1.9-.785a0.932,0.932,0,0,1,.71,0c1.37,0.6,2.99,1.257,3.73,1.518l1.69-1.693c-0.27-.736-0.96-2.287-1.57-3.594a1.015,1.015,0,0,1-.02-0.766l0.79-1.9a0.913,0.913,0,0,1,.51-0.508c1.38-.548,2.99-1.218,3.7-1.558V46.253c-0.72-.33-2.31-0.941-3.68-1.435a0.927,0.927,0,0,1-.55-0.515l-0.78-1.907a0.956,0.956,0,0,1,0-.742c0.57-1.353,1.23-2.95,1.5-3.689l-1.7-1.683c-0.73.271-2.31,0.96-3.63,1.584a0.874,0.874,0,0,1-.72,0l-1.91-.785a0.94,0.94,0,0,1-.51-0.515c-0.54-1.379-1.21-2.97-1.56-3.686h-2.43c-0.33.71-.95,2.31-1.44,3.673a0.941,0.941,0,0,1-.52.541l-1.9.785a0.907,0.907,0,0,1-.7,0c-1.38-.607-3-1.267-3.73-1.515l-1.7,1.693c0.28,0.736.96,2.287,1.57,3.6a0.97,0.97,0,0,1,.02.766l-0.79,1.9a0.913,0.913,0,0,1-.51.508c-1.38.541-2.97,1.211-3.69,1.554v2.376c0.71,0.33,2.31.947,3.68,1.442a0.941,0.941,0,0,1,.54.515l0.78,1.9a0.956,0.956,0,0,1,0,.742c-0.59,1.353-1.24,2.95-1.5,3.693l1.69,1.7c0.73-.271,2.31-0.96,3.63-1.584a0.925,0.925,0,0,1,.72-0.02l1.91,0.792a0.915,0.915,0,0,1,.5.515c0.58,1.373,1.25,2.977,1.59,3.673v0Zm1.15-8.692a5.917,5.917,0,1,1,5.9-5.94,5.913,5.913,0,0,1-5.9,5.94h0Zm0-9.973a4.041,4.041,0,1,0,0-.017v0.017Z', transform='translate(-1115 -31)')
        svg.header-icon.header-icon--call(xmlns='http://www.w3.org/2000/svg', width='33', height='22', viewbox='0 0 33 22')
            path(d='M1053.1,36a1.132,1.132,0,0,0-1.1,1.138V56.862A1.132,1.132,0,0,0,1053.1,58h30.8a1.132,1.132,0,0,0,1.1-1.138V37.138A1.132,1.132,0,0,0,1083.9,36h-30.8Zm1.52,1.517h27.76L1068.5,50.165Zm-1.15.96,8.87,8.084-8.87,8.855V38.477Zm30.06,0V55.416l-8.87-8.855Zm-20.09,9.092,4.58,4.172a0.712,0.712,0,0,0,.96,0l4.58-4.172,8.94,8.914h-28Z', transform='translate(-1052 -36)')
    section.pin.header-menu(class="js-border" data-color-from="#ffa425" data-color-to="#f8dc52")
        div.wrapper
            div.header-menu-profile
                div.header-menu-icon
                    img.header-menu-img(src=require('./images/main-user-icon.png'))
                div.header-menu-name Alex
            div.header-stat
                div.header-humans
                    div.header-menu-icon
                        img.header-menu-img(src=require('./images/humans-icon.png'))
                    a.header-menu-value(href="#") 1000
                div.header-gmp
                    div.header-menu-icon
                        img.header-menu-img(src=require('./images/gmp-icon.png'))
                    a.header-menu-value(href="#") 1000 GMP
            nav.header-nav
                a.header-nav-link(href="#") Партнёрские игры
                a.header-nav-link(href="#") Обучение
                a.header-nav-link(href="#") Продвижение
                a.header-nav-link(href="#") Статистика
                a.header-nav-link(href="#") Вознаграждение





