@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/js-styles';
@import 'styles/header';
@import 'styles/footer';
@import '../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css';

body {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	letter-spacing:0.5px;
	width: 100%;
	height: 100%;
	background-color: $mainGrey;
	color: $white;
	box-sizing: border-box;
}

button, a, li, div, img, input, label, form, section, canvas {
	outline: none;
}

img {
	display: block;
}

a {
	display: block;
	color: $white;
	text-decoration: none;

	&:hover,
	&:active,
	&:visited,
	&:focus {
		color: $white;
		text-decoration: underline;
	}
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	padding: 0;
	margin: 0;
}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	display: block;
}

.main-logo {
	position: relative;
	display: block;
	margin: 0 auto;
	z-index: 2;
}

.lk {
	position: relative;
	padding: 115px 0;

	@media (max-width: 768px) {
		padding: 50px 0;
	}

	.main-logo {
		@media (max-width: 768px) {
			width: 80%;
			margin-bottom: 40px;
		}

		@media (max-width: 768px) {
			width: 75%;
			margin-bottom: 20px;
		}
	}

	.master {
		margin-top: 70px;
		min-height: 80vh;

		a {
			font-size: 30px;
			text-transform: uppercase;
			font-weight: 800;
			line-height: 2;
		}
	}

	.wrapper {
		position: relative;
		z-index: 3;
	}

	.title {
		position: relative;
		font-size: 50px;
		text-transform: uppercase;
		z-index: 1;

		@media (max-width: 768px) {
			font-size: 28px;
		}

		&--small {
			font-weight: bold;
			font-size: 30px;

			@media (max-width: 768px) {
				font-size: 24px;
			}

			p {
				font-size: 17px;
				font-weight: 300;
				letter-spacing: 1px;
				text-transform: none;
				margin-bottom: 10px;
			}

			span {
				font-size: 17px;
				font-weight: normal;
				text-transform: lowercase;
				margin-left: 5px;
			}
		}

		&--gradient {
			background: linear-gradient(45deg, #c7e8b6 0%, #71cdbe 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: #c7e8b6;
		}

		&--center {
			text-align: center;
			margin-bottom: 55px;

			@media (max-width: 768px) {
				margin-bottom: 30px;
			}
		}
	}

	.sub-title {
		font-size: 15px;
		margin-left: 2px;
		margin-top: 5px;
		font-weight: normal;
	}

	.pin {
		position: relative;
		background: rgba(31,31,31,0.88);
		padding: 40px 35px 20px 35px;
		box-sizing: border-box;
		z-index: 2;
	}

	.section {
		position: relative;
		max-width: 1140px;
		margin: 0 auto;
		z-index: 1;
	}

	.bg {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: url(./images/bg.jpg);
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: bottom left;
		z-index: 1;

		&:after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 80%;
			background: linear-gradient(to bottom, $mainGrey 70%, rgba(0,0,0,0) 100%);
			z-index: 2;

			@media (max-width: 1200px) {
				height: 100%;
				background: linear-gradient(to bottom, $mainGrey 90%, rgba(0,0,0,0) 100%);
			}
		}
	}

	.time-tracker {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__value {
			font-size: 40px;
			font-weight: 100;
			letter-spacing: 4px;
			background: linear-gradient(45deg, #c7e8b6 0%, #71cdbe 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: #c7e8b6;
			margin: 32px auto 10px auto;
		}

		&__desc {
			font-size: 9px;

			span:not(:last-of-type) {
				margin-right: 40px;
			}
		}
	}

	.msg-icon {
		fill: #71cdbe;
		transition: .15s ease-out;
		cursor: pointer;

		&:hover {
			fill: #ffffff;
		}
	}

	.particles {
		position: absolute;
		width: calc((100% - 800px) / 2 + 150px);
		height: 700px;

		@media (max-width: 768px) {
			width: 80vw;
			height: 100vh;
		}

		&--1 {
			left: 0;
			top: 150px;
		}

		&--2 {
			right: 0;
			bottom: 0;

			@media (max-width: 768px) {
				bottom: auto;
				top: 0;
			}
		}

		&--main {
			z-index: 1;
			right: 0;
			bottom: 10%;
		}
	}

	// controllers
	@import 'styles/controllers';
	@import 'styles/video';

	// screens
	@import 'styles/screens/start';
	@import 'styles/screens/login';
	@import 'styles/screens/personal';
	@import 'styles/screens/partners';
	@import 'styles/screens/study';
	@import 'styles/screens/promo';
	@import 'styles/screens/stats';
	@import 'styles/screens/reward';
	@import 'styles/screens/settings';
}

.lang {
	&--ru {
		margin-top: 21px;
		display: inline-block;
	}
}

.mCSB_scrollTools {
	width: 20px;
}

.mCSB_scrollTools .mCSB_draggerRail {
	background: #3d4040;
}

.mCSB_scrollTools .mCSB_dragger {
	height: 20px;
	width: 20px;

	&:after {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: $mainGrey;
		z-index: 1;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	}

	&:before {
		position: absolute;
		top: 4px;
		left: 4px;
		content: '';
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: #fff;
		z-index: 2;
	}
}

.mCSB_inside > .mCSB_container {
	margin-right: 0;
}

.mCustomScrollBox {
	position: absolute;
	bottom: 0;
	top: 0;
	width: calc(100% - 35px);
	height: 100%;
	padding-right: 35px;
	overflow: hidden;
	height: 100%;
	max-width: 100%;
	outline: none;
	direction: ltr;

	.partners__search_count {
		margin-right: 10px;
	}
}

.menu-part {
	position: relative;
	width: 400px;
	height: 200px;
}