extends base
block title
    | SRG LK - Master

block main
    main.lk
        div.bg
        img.main-logo(src=require('./images/main-screen-logo.png'))
        section.section
            div.pin.master
                a(href="start.html") start
                a(href="login.html") login
                a(href="personal.html") personal
                a(href="partners.html") partners
                a(href="study.html") study
                a(href="promo.html") promo
                a(href="stats.html") stats
                a(href="reward.html") reward
                a(href="settings.html") settings